<link href="/static/css/custom/resource.css" rel="stylesheet" />
<!--用户中心主要内容-->
<div class="pagetit pagetabs">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li><a href="/categories/all/" title="文件">文件</a></li>
      <li class="pipe">&gt;</li>
      {foreach from=$item.categories item=e}
        {foreach from=$e item=c name=foo}
          <li><a href="/{$languageURL}categories/{$categories[$c].id}" title="{$categories[$c].name}">{$categories[$c].name}</a></li>
          {if !$smarty.foreach.foo.last}<li class="pipe">&gt;</li>{/if}
        {/foreach}
      {/foreach}
    </ul>
    <h2>{$item.name}</h2>
    <ul class="pagetab clr">
      <li><a class="active" href="/{$languageURL}items/{$item.id}" title="文件详情">作品详情</a></li>
      {if $faqs>0 || check_login_bool() && $item.user_id == $smarty.session.user.user_id}
      <li><a{if $smarty.get.controller == 'faq'} class="active"{/if} href="/{$languageURL}items/faq/{$item.id}" title="常见问题解答">常见问题解答</a></li>
      {/if}
      {if check_login_bool() && $item.user_id == $smarty.session.user.user_id}
      <li><a{if $smarty.get.controller == 'edit'} class="active"{/if} href="/{$languageURL}items/edit/{$item.id}" title="编辑">编辑</a></li>
      {/if}
      <li><a{if $smarty.get.controller == 'comments'} class="active"{/if} href="/{$languageURL}items/comments/{$item.id}" title="评论">评论</a></li>
    </ul>
  </div>
</div>
<div class="resourcebg">
  <div class="pageblock clr">
    {$errorMessage}
    {include file="$root_path/apps/items/views/purchase_panel.html"}
    <div class="leftdetail">
      <div class="detailimg clr" id="previewdom">
        <a class="mainlink screenbtn" href="/{$languageURL}items/screenshots/{$item.id}" target="_blank" screenshot-img="{foreach from=$previewFiles item=file name=foo}{$file}{if !$smarty.foreach.foo.last}|{/if}{/foreach}" screenshot-tit="{$item.name|escape}"><img src="{$data_server}/uploads/items/{$item.id}/preview.jpg" alt="{$item.name|escape}" /></a>
        <div class="links clr">{if $item.demo_url}<a class="linkbtn btntheme" href="/{$languageURL}items/preview/{$item.id}" target='_blank' title="在线预览">在线预览</a>{/if}<a class="linkbtn btntheme screenbtn" href="/{$languageURL}items/screenshots/{$item.id}" target='_blank' title="截图预览" screenshot-img="{foreach from=$previewFiles item=file name=foo}{$file}{if !$smarty.foreach.foo.last}|{/if}{/foreach}" screenshot-tit="{$item.name|escape}">截图预览</a><div class="bdsharebuttonbox"><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div></div>
      </div>
      <script>{literal}
      function delHtmlTag(str){
        return str.replace(/<[^>]+>/g,"");
      }
      var ttt = delHtmlTag('{/literal}{$item.description}{literal}');
      window._bd_share_config={"common":{"bdSnsKey":{},"bdText":ttt,"bdMini":"2","bdMiniList":false,"bdPic":"{/literal}{$data_server}/uploads/items/{$item.id}/preview.jpg{literal}","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];{/literal}</script>
      <div class="detailtxt">{$item.description}</div>
      <div class="otheritems clr">
      {if $otherItems}
      {foreach from=$otherItems item=i}   
      <a href="/{$languageURL}items/{$i.id}" class="landscape-image-magnifier"><img alt="{$i.name|escape}" border="0" class="preload no_preview" data-item-author="作者 {$item.user.username}" data-item-category="{foreach from=$i.categories item=e}{foreach from=$e item=c name=foo}{$categories[$c].name} {if !$smarty.foreach.foo.last} \ {/if}{/foreach}{/foreach}" data-item-cost="{$i.price}" data-item-name="{$i.name|escape}" data-preview-height="" data-preview-url="{$data_server}uploads/items/{$i.id}/preview.jpg" data-preview-width="" src="{$data_server}uploads/items/{$i.id}/{$i.thumbnail}" title="{$i.name|escape}" /></a>          
      {/foreach}
      {/if}
      {if $otherItemsCount < 6}
      {section name=foo start=$otherItemsCount loop=6 step=1}
        <span class="emptyitem"></span>
      {/section}      
      {/if}
      </div>
      <a class="otherlink" href="/{$languageURL}user/portfolio/{$item.user.username}">{$item.user.nickname}的其它作品</a>
    </div>

    {include file="$root_path/apps/items/views/rightside.html"}
  </div>
</div>
<link href="/static/scripts/plug/swipebox/swipebox.min.css" rel="stylesheet" />
{literal}
<script type="text/javascript">
seajs.use(["pageui", "modules/screenshot"], function(ui, scre){
  ui.imgMagnifier("a.landscape-image-magnifier");
  {/literal}{if $is_extends=='true'}scre.init("#previewdom .screenbtn");{/if}{literal}
});
</script>
{/literal}