<link href="/static/css/custom/resource.css" rel="stylesheet" />
<div class="pagetit">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li>上传一个作品</li>
    </ul>
    <h2>上传一个作品</h2>
  </div>
</div>

<div class="resourcebg">
  <div class="pageblock clr">
    {$errorMessage}
    <div class="leftdetail">
      {if !isset($hideForm)}
      <!--<script type="text/javascript" src="{$data_server}nicEditors/nicEdit.js"></script>-->
      <!--<script type="text/javascript">-->
      <!--{literal}bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });{/literal}-->
      <!--</script>-->
      <div class="editblock">
      <form class="horizontal-form item-form disable-on-submit"  id="upload-form" method="post" enctype="multipart/form-data">

        <div class="blocktit clr">
          <h3>名称和描述</h3>
        </div>
        <div class="input-group">
          <label for="name">响亮的名称</label>
          <div class="inputs">
            <input class="ipttheme" type="text" id="name" name="name" value="{$smarty.post.name|escape}" maxlength="50" style="width: 451px;" />
            <span>最多50个字符。查看<a href="/{$languageURL}help/upload/" target="_blank">作品命名约定</a>。</span>
          </div>
        </div>
        <div class="input-group">
          <label for="description">详细的描述</label>
          <div class="inputs">
              <!--初始化编辑器-->
              <script id="description" name="description" type="text/plain">{$smarty.post.description}</script>
            <!--<textarea name="description" id="description">{$smarty.post.description}</textarea>-->
            <span>尽量精炼详实从而有助于用户搜索到你的作品。</span>
          </div>
        </div>
        <div class="blocktit clr">
          <h3>文件<small class="header-note">上传遇到麻烦？<a href="/{$languageURL}help/upload/" target="_blank">查看上传指引</a></small></h3>
        </div>
        <div id="upload_form_user_files_section">
          <div class="input-group">
            <label>一张缩略图</label>
            <div class="inputs uploadobjs clr" id="thumbnail">
              <input autocomplete="off" type="hidden" class="hiddenvalue" name="thumbnail" value="{if $smarty.session.temp.uploaded_files.thumbnail}{foreach from=$smarty.session.temp.uploaded_files.thumbnail item=s}{$s.filename}{/foreach}{/if}" />
            </div>
          </div>
          <span class="inputtips">JPEG格式 尺寸最好修剪至90x90</span>
          <div class="input-group">
            <label>主文件zip包</label>
            <div class="inputs uploadobjs clr" id="main_file">
              <input autocomplete="off" type="hidden" class="hiddenvalue" name="main_file" value="{if $smarty.session.temp.uploaded_files.main_file}{foreach from=$smarty.session.temp.uploaded_files.main_file item=s}{$s.filename}{/foreach}{/if}" />
            </div>
          </div>
          <span class="inputtips">zip格式 给买家的全部文件 不要包含预览文件</span>
          <div class="input-group">
            <label>封面预览文件</label>
            <div class="inputs uploadobjs clr" id="first_preview">
              <input autocomplete="off" type="hidden" class="hiddenvalue" name="first_preview" value="{if $smarty.session.temp.uploaded_files.first_preview}{foreach from=$smarty.session.temp.uploaded_files.first_preview item=s}{$s.filename}{/foreach}{/if}" />
            </div>
          </div>
          <span class="inputtips sp">作品页默认展示的预览文件</span>
          <div class="input-group">
            <label>其它预览文件</label>
            <div class="inputs uploadobjs clr" id="theme_preview">
              <input autocomplete="off" type="hidden" class="hiddenvalue" name="theme_preview" value="{if $smarty.session.temp.uploaded_files.theme_preview}{foreach from=$smarty.session.temp.uploaded_files.theme_preview item=s name=foo}{$s.filename}{if !$smarty.foreach.foo.last},{/if}{/foreach}{/if}" />
            </div>
          </div>
          <span class="inputtips sp">允许的格式：.jpg|.png|.gif|.wma|.mp3|.wav|.mp4|.flv|.wmv|.swf</span>
          <div class="note">请注意，我们只接受500MB以内大小的文件。</div>
        </div>

        <h3>类别和属性</h3>
        <div class="input-group">
          <label>类别</label>
          <div class="inputs">
            <select name="category[]">{$categoriesSelect}</select>
          </div>
        </div>
        <div id="attribute_fields">
          {if $attributes}
          {foreach from=$attributes item=a}
          <br />
          <div class="input-group">
            <label>{$a.name}</label>
            <div class="inputs">
              {if $a.type == 'select'}									  	
              <select class="input big mt5" id="custom_attributes_{$a.id}" name="attributes[{$a.id}]">
                {foreach from=$a.attributes item=ai}
                <option value="{$ai.id}" {if $smarty.post.attributes[$a.id] == $ai.id}selected="selected"{/if}>{$ai.name}</option>
                {/foreach}
              </select>
              {elseif $a.type == 'multiple'}
              <select multiple="multiple" id="custom_attributes_{$a.id}" name="attributes[{$a.id}]">
                {foreach from=$a.attributes item=ai}
                <option value="{$ai.id}" {if $smarty.post.attributes[$a.id] == $ai.id}selected="selected"{/if}>{$ai.name}</option>
                {/foreach}
              </select>
              {elseif $a.type == 'check'}
              {foreach from=$a.attributes item=ai}
              <input type="checkbox" name="attributes[{$a.id}][{$ai.id}]" value="{$ai.id}" {if isset($smarty.post.attributes[$a.id][$ai.id])}checked="checked"{/if} class="mt5"/> {$ai.name}<br />
              {/foreach}
              {elseif $a.type == 'radio'}
              {foreach from=$a.attributes item=ai}
              <label><input type="radio" name="attributes[{$a.id}]" value="{$ai.id}" {if isset($smarty.post.attributes[$a.id]) && $smarty.post.attributes[$a.id] == $ai.id}checked="checked"{/if} /> {$ai.name} </label>
              {/foreach}
              {else}
              <input type="text" name="attributes[{$a.id}]" value="{$smarty.post.attributes[$a.id]}" />
              {/if}
            </div>
          </div>
          {/foreach}
          {/if}
          <div class="input-group">
            <label for="item_item_attributes_attributes_4_text_value">演示地址url</label>
            <div class="inputs">
              <input class="ipttheme" autocomplete="off" id="custom_attributes_standard_Demo_URL" name="demo_url" type="text" value="{$smarty.post.demo_url|escape}" />
              <span>完整的URL，比如：http://demila.org/</span>
            </div>
          </div>
        </div>
        <div class="note">选择准确的分类和属性</div>
        <div class="input-group">
          <label>标签</label>
          <div class="inputs tagsinputs">
            <input type="hidden" name="tags" id="tagstxt" />
            <div class="tagtips clr" id="tagtips">
              <span class="tageditbtn">编辑标签</span>
            </div>
            <div class="addtags clr" id="addtags">
              <div class="tagiptbg">
                <input type="text" class="ipttheme" id="addtagipt" autocomplete="off"/>
                <div class="addtaglist" id="addtaglist"></div>
              </div>
              <a class="addtagsbtn">完成</a>
            </div>
          </div>
        </div>
        <div class="blocktit clr">
          <h3>给审核员的消息</h3>
        </div>
        <div class="input-group">
          <label for="comments_to_reviewer">消息内容</label>
          <div class="inputs">

              <!--初始化编辑器-->
              <script id="comments_to_reviewer" name="comments_to_reviewer" type="text/plain">{$smarty.post.comments_to_reviewer}</script>
              <!-- 配置文件 -->
              <script type="text/javascript" src="{$template_data}ueditor/ueditor.config.js"></script>
              <!-- 编辑器源码文件 -->
              <script type="text/javascript" src="{$template_data}ueditor/ueditor.all.js"></script>
              <!-- 实例化编辑器 -->
              <script type="text/javascript">
                  var ue = UE.getEditor('comments_to_reviewer');
                  var ue = UE.getEditor('description');
              </script>


            <!--<textarea name="comments_to_reviewer" id="comments_to_reviewer">{$smarty.post.comments_to_reviewer}</textarea>-->
          </div>
        </div>
        <div class="input-group">
          <label>价格</label>
          <div class="inputs">
            <input class="ipttheme" type="text" class="input big" name="suggested_price" value="{$smarty.post.suggested_price|escape}" />
          </div>
        </div>
        <div class="input-group">
          <label></label>
          <div class="inputs">
            <label for="got_proper_licenses">
            <input id="got_proper_licenses" name="source_license" type="checkbox" value="true" {if isset($smarty.post.source_license)}checked="checked"{/if} />
            我保证已经严格地遵守了相关版权法律。
            </label>
          </div>
        </div>
        <div class="form-submit">
          <input type="hidden" name="upload" value="yes" />
          <button type="submit" class="btntheme2 btnsize2">上传</button>
        </div>
      </form>
      </div>
      {/if}
    </div>
    <div class="rightdetail">
      <h3 class="tipstit">切换到该类别</h3>
      <div class="tipsdetail uploadblock">
        <form id="begin-upload" action="/{$languageURL}" method="get" >
          <select id="category" name="category">
            {if $mainCategories}
            {foreach from=$mainCategories item=c}
            <option value="{$c.id}" {if $smarty.get.category == $c.id}selected="selected"{/if}>{$c.name}</option>
            {/foreach}
            {/if}
          </select>
          <p>
            <a onclick="window.location='/{$languageURL}upload/form/?category=' + document.getElementById('category').options[document.getElementById('category').selectedIndex].value;" class="btntheme2">切换到该类别</a>
            <a href="/{$languageURL}help/upload/" class="btntheme2" target="_blank">帮助</a>
          </p>
        </form>
      </div>
      <h3 class="tipstit">让你的作品易被接受的小技巧</h3>
      <div class="tipsdetail">
        <p>请确保你已经：</p>
        <ul class="tiplist">
          <li>阅读并遵从<a href='/{$languageURL}help/upload/' target="_blank">上传指引</a>。</li>
          <li>添加了有用的标签并正确书写(这可以帮助买家找到你的作品)。</li>
          <li>添加了详细且有用的描述(这也可以帮助买家找到你的作品)。</li>
        </ul>
        <p>如果你已经做了这些工作，请提交你的作品，让{$domain}为你的作品扩展价值！</p>
      </div>
      <h3 class="tipstit">上传遇到麻烦？</h3>
      <div class="tipsdetail">
        <p>
        有些用户在上传过程中遇到的问题，我们已经作了汇编，请先查看<a href="/{$languageURL}help/upload/" target="_blank">上传问题列表</a>，或许有帮助。
        我们一直在改进我们的上传机制，如果你仍然遇到问题请联系我们并提出建议。
        </p>
      </div>
      <h3 class="tipstit">不支持的Zip文件格式</h3>
      <div class="tipsdetail">
        <p>我们的服务器不支持以下格式的压缩包：</p>
        <ul class="tiplist">
          <li>7zip</li>
          <li>lzarc</li>
          <li>WinZip</li>
        </ul>
        <p>请选择其他压缩工具以减少上传问题。</p>
      </div>
    </div>
  </div>
</div>
{literal}
<script type="text/javascript">
seajs.use(["modules/objtags", "pageui"], function(tag, ui){
  tag.tagsInit("#tagstxt", "#tagtips", "#addtags", {}, {/literal}{$all_tags}{literal});
  ui.uploadInit("/apps/{/literal}{$smarty.get.module}{literal}/ajax/swfupload/doUpload.php", "{/literal}{$sessID}{literal}");
});
</script>
{/literal}