<link href="{$data_server}css/custom/ucenter.css" rel="stylesheet" />
<div class="pagetit">
  <div class="titblock">
    <h2>注册账号</h2>
    <p>建议使用谷歌或火狐等高级浏览器获取更好浏览体验</p>
  </div>
</div>
<div class="ucbg">
  <div class="ucblock clr">
    {$errorMessage}
    {if isset($verify)}
    <div class="ucreg">
      <div class="checkmail">
        <h3>邮箱验证后，即可完成注册！</h3>
        <p>系统给您发送了一封验证邮件，马上通过验证享受更多精彩服务。</p>
        <div class="formitem clr">
          <div class="iptbg">
          <input type="text" class="formipt" id="usermail" name="usermail" autocomplete="off" />
          </div>
          <span class="errtxt"></span>
        </div>
        <a href="{$smarty.session.THE_USER_RES_SEND_MAIL_4_M_MAIL}" id="gotomail" class="maillink btntheme1" target="_blank" title="马上登录邮箱">马上登录邮箱</a>
        <a href="javascript:void(0)" id="resendbtn" class="maillink btntheme1" title="重新发送">重新发送</a>
        <a href="javascript:void(0)" id="setmailbtn" class="maillink btntheme1" title="重设邮箱">重设邮箱</a>
      </div>
    </div>
    <script type="text/javascript">
    {literal}
    seajs.use(["jq", "modules/mails"], function($, mails){
      mails.btninit({
        resetbtn: $("#resendbtn"),
        setmailbtn: $("#setmailbtn"),
        mailipt: $("#usermail"),
        maillink: $("#gotomail"),
        purl: "{/literal}/{$langaugeURL}{literal}apps/users/ajax/api.php",
        uid: "{/literal}{$smarty.session.THE_USER_RES_SEND_MAIL_4_M}{literal}"
      });
    });
    {/literal}
    </script>
    {elseif isset($complete)}
    <div class="ucreg">
      <div class="checkmail">
        <h3>欢迎{$smarty.session.user.username}</h3>
        <p>成为作者之后可以在我们的网站销售自己的数字作品</p>
        <a href="/upload/index/" class="maillink btntheme1" title="上传作品">上传作品</a>
        <a href="/{$languageURL}deposit/"><img alt="Make a deposit" src="/static/img/dsignup.png" /></a>
        <p><a class="btn-icon purchase massive" role="button" href="/{$languageURL}deposit/">充值</a><br><br />
    现在你可以开始从<a href="/">数字作品市场</a>购买数字作品了</p>
      </div>
    </div>
    {else}
    <div class="ucreg">
      <form action="" method="post" id="regform" class="listform" autocomplete="off">
        <div class="formitem clr">
          <span class="ipttxt">用户名</span>
          <div class="iptbg">
            <input type="text" place-holder="登录网站的唯一标识，不可更改" class="formipt" id="username" name="username" autocomplete="off" />
          </div>
          <span class="loading"></span>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">昵称</span>
          <div class="iptbg">
            <input type="text" place-holder="网站内作品展示署名" class="formipt" id="nickname" name="nickname" autocomplete="off" />
          </div>
          <span class="loading"></span>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">邮箱</span>
          <div class="iptbg">
            <input type="text" place-holder="请确保邮箱有效可用" class="formipt" id="usermail" name="email" autocomplete="off" />
          </div>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">密码</span>
          <div class="iptbg">
            <input type="password" place-holder="密码长度5到20位" class="formipt" id="userpwd" name="password" autocomplete="off" />
          </div>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">确认密码</span>
          <div class="iptbg">
            <input type="password" place-holder="密码长度5到20位" class="formipt" id="userpwd2" name="password_confirm" autocomplete="off" />
          </div>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <div class="formitem sp clr">
          <span class="ipttxt">验证码</span>
          <div class="iptbg2">
            <input id="yzm" type="text" maxlength="4" class="formipt" name="verify" id="verify" data-type="验证码" autocomplete="" />
          </div>
          <img class="yzmimg" src="/{$languageURL}verify" id="verify_pic" />
          <a class="yzmfrush" title="刷新验证码" id="verify_btn">刷新验证码</a>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <!--<div class="formitem clr">
          <span class="ipttxt">验证码</span>
          <div class="iptbgsh">
            <input type="text" class="formiptsh" id="yzm" data-type="验证码" name="useryzm" autocomplete="off" />
          </div>
          <img src="../images/yzm.jpg" alt="验证码" class="yzmimg" />
          <a href="#" class="yzmfrush" title="刷新验证码">刷新验证码</a>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>-->
        <div class="formitem sp clr">
          <span class="ipttxt">&nbsp;</span>
          <span class="radioimg active"><input type="hidden" id="radioval1" name="terms" value="1" /></span>
          <span class="radiotxt">同意<a href="#" target="_blank" title="网站条款">网站条款</a></span>
          <span class="radioimg"><input type="hidden" id="radioval2" name="subscribed" value="1" /></span>
          <span class="radiotxt msp2">订阅网站新闻</span>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">&nbsp;</span>
          <a title="注册" class="regsubmit btntheme1 disable" id="regbtn">注册<input type="hidden" name="add" value="yes" /></a>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">&nbsp;</span>
          <p class="loginlink">已有账号？<a href="/sign_in/" title="直接登录">直接登陆</a></p>
        </div>
      </form>
    </div>
    {/if}
    <div class="regtxt">
      <h3>只需三步，注册之后你可以</h3>
      <ul class="txtlist">
        <li>出售作品</li>
        <li>使用预存款功能，下载文件</li>
        <li>通过推荐其他人注册赚钱</li>
        <li>有自己的个人主页</li>
        <li>和其他用户交流</li>
        <li>更多精彩</li>
      </ul>
      <!--<h3>合作账号登录</h3>
      <ul class="otherlogin clr">
        <li><a class="t1" href="#" title="新浪微博">新浪微博</a></li>
        <li><a class="t2" href="#" title="腾讯微博">腾讯微博</a></li>
        <li><a class="t3" href="#" title="朋友圈">朋友圈</a></li>
        <li><a class="t4" href="#" title="QQ空间">QQ空间</a></li>
      </ul>-->
    </div>
  </div>
</div>
<script type="text/javascript">
{literal}
seajs.use(["jq", "datavalid", "pageui"], function($, dvo, pui){
  pui.checkboxInit($("#regform"), ".radioimg");
  dvo.setAjaxUrl({
    nickname: "{/literal}{$languageURL}{literal}sign_up",
    username: "{/literal}{$languageURL}{literal}sign_up"
  });
  dvo.placeholder($("#regform"));
  dvo.registerInit($("#regform"));
  dvo.yzminit($("#verify_pic"), [$("#verify_pic"), $("#verify_btn")]);
});
{/literal}
</script>