<link href="/static/css/custom/ucenter.css" rel="stylesheet" />
<div class="pagetit">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li><a href="/categories/all/" title="文件">文件</a></li>
      <li class="pipe">&gt;</li>
      <li>王牌作者</li>
    </ul>
    <h2>王牌作者</h2>
  </div>
</div>
<div class="ucbg">
  <div class="ucblock clr">
    {if $paging}
      <div class="pagecontrols clr"><div class="pagination">{$paging}</div></div>
    {/if}

    {if $users}
      <ul class="topauthorlist clr">
      {foreach from=$users item=u name=foo}
        <li class="authoritem">
          <a href="/{$languageURL}user/{$u.username}" class="avatar" title="{$u.nickname}">
            {if $u.avatar != ''}  
            <img alt="{$u.nickname}" class="" src="{$data_server}uploads/users/{$u.user_id}/A_{$u.avatar}" />
            {else}
            <img alt="{$u.nickname}" class="" src="{$data_server}img/default-user.jpg" />
            {/if}
          </a>
          <div class="itemdetail">
            <h3><a title="{$u.nickname}" href="/{$languageURL}user/{$u.username}">{$smarty.foreach.foo.index+$number}. {$u.nickname}</a></h3>
          </div>
          <div class="sales">
            <p class="nums"><span>{$u.sales}</span>销量</p>
          </div>
          <div class="itemstars">
            <div style="width:{$u.rating*2}0%;" class="starnums"><span class="allstars"></span></div>
            <div class="starsbg"></div>
          </div>
        </li>
      {/foreach}
      </ul>
        <!--
          <small class="meta">
            <strong>{$u.items}</strong>作品<br>
            <strong>{$u.followers}</strong>粉丝<br>
            注册时间：{$u.register_datetime|date_format:"%Y-%m-%d"}<br>
            {if $u.custom_made == 'true'} 可承接威客工作<br>{/if}
          </small>-->
    {else}
      <div class="content-box vertical-space">{$lang.no_users}</div>
    {/if}
    {if $paging}
      <div class="pagecontrols clr"><div class="pagination">{$paging}</div></div>
    {/if}
  </div>
  </div>
</div>