<div class="pagefooter">
  <div class="pageblock">
    <div class="footertop">
      <a href="/{$languageURL}" title="Demila数字内容交易系统">Demila数字内容交易系统</a>
      <div class="footertxt">会员总数：<span class="mr20">{$usersCount}</span>作品总数：<span>{$itemsCount}</span></div>
    </div>
    <div class="footerbtm clr">
      <ul class="btmitems clr">
        <li class="itemtips1">
          <a class="imglink" href="/{$languageURL}make_money/payment_rates" title="普通作者"><img src="/static/templates/default/img/custom/itemipts1.png" alt="普通作者" /></a>
          <span class="itemtxt"><span class="author">作者权益</span><br />每一个作品<span class="nums">都能变现</span></span>
          <a class="txtlink" href="/{$languageURL}make_money/payment_rates">详细规则&gt;</a>
        </li>
        <li class="itemtips2">
          <a class="imglink" href="/{$languageURL}make_money/payment_rates" title="签约作者"><img src="/static/templates/default/img/custom/itemipts2.png" alt="签约作者" /></a>
          <span class="itemtxt"><span class="author">买家权益</span><br />每一分内容<span class="nums">都有保障</span></span>
          <a class="txtlink" href="/{$languageURL}make_money/payment_rates">详细规则&gt;</a>
        </li>
        <li class="itemtips3">
          <a class="imglink" href="/{$languageURL}make_money/payment_rates" title="推广赚钱"><img src="/static/templates/default/img/custom/itemipts3.png" alt="推广赚钱" /></a>
          <span class="itemtxt"><span class="author">推广福利</span><br />每一次传播<span class="nums">都有回报</span></span>
          <a class="txtlink" href="/{$languageURL}make_money/payment_rates">详细规则&gt;</a>
        </li>
      </ul>
    </div>
    <div class="footercopy clr">
      <ul class="frlinks clr">
        <li><span>友情链接：</span></li>
        <li><a href="http://www.9miao.com/" target="_blank" title="9秒社团">9秒社团</a></li>
        <li class="pipe">|</li>
        <li><a href="http://crossapp.9miao.com/" target="_blank" title="CrossApp">CrossApp</a></li>
        <li class="pipe">|</li>
        <li><a href="http://firefly.9miao.com/" target="_blank" title="FireFly">FireFly</a></li>
        <li class="pipe">|</li>
        <li><a href="http://touzi.9miao.com/static/index.html" target="_blank" title="9秒闪投">9秒闪投</a></li>
        <li class="pipe">|</li>
        <li><a href="http://book.9miao.com/" target="_blank" title="9秒小说阅读器">9秒小说阅读器</a></li>
        <li class="pipe">|</li>
        <li><a href="http://dm.9miao.com/" target="_blank" title="动漫之家">动漫之家</a></li>
        <li class="pipe">|</li>
        <li><a href="http://8miao.com/" target="_blank" title="8秒闪创">8秒闪创</a></li>
        <li class="pipe">|</li>
        <li><a href="http://demila.org/" target="_blank" title="Demila">Demila</a></li>
      </ul>
      <ul class="clr">
        <li><a href="/{$languageURL}make_money/become_an_author" title="入门指南">入门指南</a></li><li class="pipe">|</li>
        <li><a href="/{$languageURL}make_money/become_an_author" title="成为作者">成为作者</a></li><li class="pipe">|</li>
        <li><a href="/{$languageURL}make_money/payment_rates" title="分成比例">分成比例</a></li><li class="pipe">|</li>
        <li><a href="/{$languageURL}make_money/affiliate_program/" title="推广赚钱">推广赚钱</a></li><li class="pipe">|</li>
        <li><a href="/{$languageURL}help/aboutus/" title="关于我们">关于我们</a></li><li class="pipe">|</li>
        <li><a href="/{$languageURL}help/legal/" title="网站条款">网站条款</a></li><li class="pipe">|</li>
        <li><a href="/{$languageURL}help/licenses/" title="许可政策">许可政策</a></li><li class="pipe">|</li>
        <li><a href="/{$languageURL}categories/browse/" title="网站地图">网站地图</a></li>
      </ul>
      <p>
        <span>copyright &copy; 2011-2015 <a href="/">{$domain}</a></span>
        <span class="pipe">|</span>
        <span>湘ICP备14014401号</span>
        <span class="pipe">|</span>
        <span>Powered By <a href="http://1demila.org" target="_blank">Demila{$smarty.const.VERSION}</a></span>
      </p>
    </div>
  </div>
</div>