<link href="{$template_data}css/custom/index.css" media="screen" rel="stylesheet" type="text/css" />

<div class="idxlb">
  <div class="idxlbbg" id="idxlbbg"><img src="/static/templates/default/img/loading3.gif" alt="" /></div>
  <div class="idxblock" id="idxlbbtn">
    <a class="leftbtn" title="上一张">上一张</a>
    <a class="rightbtn" title="下一张">下一张</a>
    <a href="#" title="" target="_blank" class="idxlblink"></a>
  </div>
</div>
{$errorMessage}
{if check_login_bool()}
  {if $followingItems}
  <div class="recombg">
    <div class="idxblock" id="recomblock">
      <div class="blocktit clr">
        <h2>我的关注</h2>
        <span class="sptxt">关注的作者近期作品</span>
        <span class="lbbtns clr">
          <a id="recomlbtn" class="btntheme disable" title="上一页">上一页</a>
          <a id="recomrbtn" class="btntheme" title="下一页">下一页</a>
        </span>
      </div>
      <div class="recomitemsmask">
      <ul class="itemlist clr follow" id="recomitems">
        {foreach from=$followingItems item=f}
          <li class="thumbnail landscape-image-magnifier">
          <a href="/{$languageURL}items/{$f.id}" onclick="">
            <img data-tooltip="{$f.name|escape}" alt="{$f.name|escape}" class="preload no_preview" data-item-author="作者 {$users[$f.user_id].nickname}" data-item-category="{foreach from=$f.categories item=e}{foreach from=$e item=c name=foo}{$categories[$c].name} {if !$smarty.foreach.foo.last} \ {/if}{/foreach}{/foreach}" data-item-cost="{$f.price|escape}" data-item-name="{$f.name|escape}" data-preview-height="" data-preview-url="{$data_server}uploads/items/{$f.id}/{$f.theme_preview}" data-preview-width="" src="{$data_server}uploads/items/{$f.id}/{$f.thumbnail}" title="" border="0" />
            <span class="types">{foreach from=$f.categories item=e}{foreach from=$e item=c name=foo}{if !$smarty.foreach.foo.last}{else}{$categories[$c].name}{/if}{/foreach}{/foreach}</span>
            <span class="bg"></span>
            </a>
          </li>
        {/foreach}
      </ul>
      </div>
    </div>
  </div>
  {else}
    {if $featuredAuthor}
    <div class="author topsp">
      <div class="idxblock">
        <div class="blocktit clr">
          <h2>推荐作者</h2>
          <span class="sptxt">您还没有关注过作者，这是我们为您推荐的</span>
        </div>
        <ul class="authorblock clr" id="authorobjs">
          {foreach from=$featuredAuthor item=j}
          <li class="authors">
            <a href="/{$languageURL}user/{$j.username}" title="{$j.nickname}">
              {if $j.avatar != ''}  
              <img alt="{$j.nickname}" class="" src="{$data_server}uploads/users/{$j.user_id}/A_{$j.avatar}" />
              {else}
              <img alt="{$j.nickname}" class="" src="{$template_data}img/default-user.jpg" />
              {/if}
              <span class="authtip{if $j.power_elite_author  == 'true'}1{/if}{if $j.elite_author  == 'true'}2{/if}"></span>
              <span class="name">{$j.nickname}</span>
              <span class="bg"></span>
            </a>
          </li>
          {/foreach}
        </ul>
      </div>
    </div>
    {literal}
    <script type="text/javascript">
    seajs.use(["jq"], function($){
      var tmp = jQuery.makeArray(document.getElementById("authorobjs").getElementsByTagName("li"));
      tmp.reverse();
      $("#authorobjs").html($(tmp));
    });
    </script>
    {/literal}
    {/if}
  {/if}
{/if}
<div class="idxfeature{if check_login_bool()}{else} nologin{/if}">
  <div class="idxblock">
    <div class="idxblock">
      <div class="blocktit clr">
        <h2>编辑精选</h2>
        <span class="sptxt">编辑团队为您推荐</span>
        <a class="morelink btntheme" href="/{$languageURL}feature/" target="_blank" title="更多精彩推荐">更多精彩推荐</a>
      </div>
      <ul class="itemlist clr" id="recom_list">
        {if $weeklyItems}
          {foreach from=$weeklyItems item=i}
          <li class="thumbnail landscape-image-magnifier">
          <a href="/{$languageURL}items/{$i.id}"><img data-tooltip="{$i.name|escape}" alt="{$i.name|escape}" class="preload no_preview" data-item-author="作者 {$users[$i.user_id].nickname}" data-item-category="{foreach from=$i.categories item=e}{foreach from=$e item=c name=foo}{$categories[$c].name} {if !$smarty.foreach.foo.last} \ {/if}{/foreach}{/foreach}" data-item-cost="{$i.price}" data-item-name="{$i.name|escape}" data-preview-height="" data-preview-url="{$data_server}uploads/items/{$i.id}/{$i.theme_preview}" data-preview-width="" src="{$data_server}uploads/items/{$i.id}/{$i.thumbnail}" title="" border="0" />
          <span class="types">{foreach from=$i.categories item=e}{foreach from=$e item=c name=foo}{if !$smarty.foreach.foo.last}{else}{$categories[$c].name}{/if}{/foreach}{/foreach}</span>
          <span class="bg"></span>
          </a>
          </li>
          {/foreach}
        {/if}
      </ul>
    </div>
  </div>
</div>
<div id="content">
      <div class="container">
{if $recentItems}
<div id="recent-files-wrapper">
  <div id="recent-files" class="shadowed{if check_login_bool()}{else} nologin{/if}">
    <div class="inner-boundary">
      <div class="inner-border">
        <h3 class="decorator">最新上传作品</h3>
	   <ul class="nav">
	    <li><a class="catelinks active" cate-id="all" href="/{$languageURL}categories/all/">全部</a></li>
        {if $mainCategories}
	    	{foreach from=$mainCategories item=c}
          <li><a class="catelinks" cate-id="{$c.id}" href="/{$languageURL}categories/{$c.id}">{$c.name}</a></li>
            {/foreach}
       	{/if}
        </ul>
        <div class="clear"></div>
        <ul id="cateitemslist" class="recent-items itemlist">
	     {foreach from=$recentItems item=i}
        <li class="thumbnail landscape-image-magnifier">
	     <a href="/{$languageURL}items/{$i.id}">
          <img alt="{$i.name|escape}" border="0" class="preload no_preview" data-item-author="作者 {$users[$i.user_id].nickname}" data-item-category="{foreach from=$i.categories item=e}{foreach from=$e item=c name=foo}{$categories[$c].name} {if !$smarty.foreach.foo.last} \ {/if}{/foreach}{/foreach}" data-item-cost="{$i.price|string_format:"%.0f"}" data-item-name="{$i.name|escape}" data-preview-height="" data-preview-url="{$data_server}uploads/items/{$i.id}/{$i.theme_preview}" data-preview-width="" src="{$data_server}uploads/items/{$i.id}/{$i.thumbnail}" title="{$i.name|escape}" />
         </a>
	    </li>
	   	{/foreach}
          </ul>
          <div id="itemloading"><img alt="加载中" src="/static/templates/default/img/loading3.gif"></div>
        <div class="category-links"><a class="all" href="/{$languageURL}categories/all/" >全部作品</a><a class="popular" href="/{$languageURL}categories/all?sort_by=sales_count&order=desc">热门作品</a></div>
      </div>
    </div>
  </div>
</div>
    {literal}
    <script type="text/javascript">
    seajs.use(["jq", "pageui"], function($, ui){
      ui.itemlistAjax($("#recent-files .catelinks"), $("#cateitemslist"), $("#itemloading"));
    });
    </script>
    {/literal}
{/if}
</div>
</div>


<div class="frees">
  <div class="idxblock">
    <div class="blocktit clr">
      <h2>免费下载</h2>
      <span class="sptxt">作者免费放送</span>
      <a class="morelink btntheme" href="/{$languageURL}free_file/" target="_blank" title="更多限时免费">更多免费作品</a>
    </div>
    <div class="freeitemsmask">
    <ul class="itemlist clr" id="free_list">
        {if $freeItem}
      {foreach from=$freeItem item=fi}
      <li class="landscape-image-magnifier">
        <a href="/{$languageURL}items/{$fi.id}" onclick="">
        <img alt="{$fi.name|escape}" border="0" class="preload no_preview" data-item-author="作者 {$users[$fi.user_id].nickname}" data-item-category="{foreach from=$i.categories item=e}{foreach from=$e item=c name=foo}{$categories[$c].name} {if !$smarty.foreach.foo.last} \ {/if}{/foreach}{/foreach}" data-item-cost="{$fi.price}" data-item-name="{$fi.name|escape}" data-preview-height="" data-preview-url="{$data_server}uploads/items/{$fi.id}/{$fi.theme_preview}" data-preview-width="" src="{$data_server}uploads/items/{$fi.id}/{$fi.thumbnail}" title="{$fi.name|escape}" item-type-free="1" />
        <span class="types">{foreach from=$i.categories item=e}{foreach from=$e item=c name=foo}{if !$smarty.foreach.foo.last}{else}{$categories[$c].name}{/if}{/foreach}{/foreach}</span>
        <span class="bg"></span>
        </a>
      </li>
      {/foreach}
        {/if}

      <!--<li><a href="#" title="作品1"><img src="images/items.jpg" alt="作品1" /></a></li>-->
    </ul>
    </div>
  </div>
</div>
{if $featuredAuthor}
<div class="author">
  <div class="idxblock">
    <div class="blocktit clr">
      <h2>推荐作者</h2>
    </div>
    <ul class="authorblock clr">
      {foreach from=$featuredAuthor item=j}
      <li class="authors">
        <a href="/{$languageURL}user/{$j.username}" title="{$j.nickname}">
          {if $j.avatar != ''}  
          <img alt="{$j.nickname}" class="" src="{$data_server}uploads/users/{$j.user_id}/A_{$j.avatar}" />
          {else}
          <img alt="{$j.nickname}" class="" src="{$template_data}img/default-user.jpg" />
          {/if}
          <span class="authtip{if $j.power_elite_author  == 'true'}1{/if}{if $j.elite_author  == 'true'}2{/if}"></span>
          <span class="name">{$j.nickname}</span>
          <span class="bg"></span>
        </a>
      </li>
      {/foreach}
    </ul>
  </div>
</div>
{/if}
{literal}
<script type="text/javascript">
seajs.use(["jq", "pageui"], function($, ui){
  ui.idxTopLbinit({
    lbdom: $("#idxlbbtn"),
    lbtn: $("#idxlbbtn").find(".leftbtn"),
    rbtn: $("#idxlbbtn").find(".rightbtn"),
    lbimg: $("#idxlbbg"),
    lblink: $("#idxlbbtn").find(".idxlblink"),
    lbobjs: [
      {txt: "轮播图文字", img: "/static/templates/default/img/custom/lbimg1.jpg", url: "#"},
      {txt: "轮播图文字", img: "/static/templates/default/img/custom/lbimg2.jpg", url: "#"}
    ]
  });
  ui.idxFreeLbInit($("#free_list"));
  ui.idxRecomLbInit($("#recomblock"));
  ui.imgMagnifier("li.landscape-image-magnifier");
});
</script>
{/literal}