<div class="thumbnails">
  {foreach from=$previewFiles item=f name=foo}  
    <a href="/{$languageURL}items/screenshots_file/{$item.id}?index={$smarty.foreach.foo.index}" target="preview">
    	<img src="{$template_data}uploads/items/{$item.id}/preview/{$f}" height="60" />
    </a>
  {/foreach}
</div>
<div class="purchase">
    <a href="/{$languageURL}items/{$item.id}" target="_top">
	<img alt="{$domain} Purchase This" class="purchase" src="{$template_data}img/custom/preview-logo.png"></a>
</div>