@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal}ol,ul,li{list-style:none}caption,th{text-align:left}q:before,q:after{content:''}abbr,acronym{border:0}.clearboth{clear:both;height:0;font-size:0;width:0}.lf{float:left}.rf{float:right}a,a:visited{text-decoration:none}a:hover{text-decoration:none}a{color:#1c90f2}body{color:#535353;text-align:center;font-size:16px;font-family:"微软雅黑","宋体",Arial,Helvetica,sans-serif}.clr:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clr{display:inline-block}* html .clr{height:1%}.clr{display:block}h1,h2,h3,h4,h5,h6{font-weight: normal;text-align: left;}
textarea{
	resize: none;
}

h3 {
    font-size: 24px;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    border: medium none;
    cursor: pointer;
    height: auto;
    line-height: normal;
    margin: 3px 0;
    padding: 0;
    width: auto;
}
input[type="file"] {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    height: 30px;
    line-height: 13px;
    margin: 0;
    padding: 5px 0 6px 8px;
}
select[multiple]{
	height:100px
}
textarea {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    color: #7e7e7e;
    height: 150px;
    margin: 0;
    outline: 0 none;
    padding: 10px;
}
label, input, select, textarea{
    font-size: 13px;
    line-height: 18px;
}
.mr20{
	margin-right: 20px;
}
.pagenav ul li:hover a.nobora,.info-nav li:hover a.nobora{
	border-radius: 5px;
}
.btntheme{
	color: #fff;
	background: none;
	border: none;
	background-color: #777;
	border-bottom: 2px solid #595959;
	border-radius: 5px;
	background-image: none;
	text-align: center;
	padding: 0;
	cursor: pointer;
	font-family: "微软雅黑";
}
.btntheme:hover{
	background-color: #666;
	border-bottom-color: #2f2f2f;
	background-image: none;
}
a.btntheme{
	color: #fff;
}
.btntheme2{
	color: #fff;
	background: none;
	border: none;
	background-color: #0093d6;
	border-bottom: 2px solid #0d5b7f;
	border-radius: 5px;
	background-image: none;
	text-align: center;
	cursor: pointer;
	font-family: "微软雅黑";
}
.btntheme2:hover{
	background-color: #0cb3ff;
	background-image: none;
}
.btntheme2.disabled{
	cursor: not-allowed;
}
.btntheme2.disabled:hover{
	background-color: #0093d6;
	background-image: none;
}
a.btntheme2{
	color: #fff;
}
.btnsize{
	padding: 6px 14px;
}
.ipttheme{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	width: 150px;
	border: 1px solid #bbb;
	border-radius: 5px;
}
.header{
	background-color:#232323;
	display:block;
	min-width:1080px;
	position:relative;
	*z-index:8001
}
.header h1.pagelogo .marketplace{
	background: url(/static/templates/default/img/custom/logo.png) no-repeat center center;
    left: 0px;
    top: 5px;
	display:block;
	position:absolute;
    width: 200px;
    height: 60px;
    overflow: hidden;
    text-indent: -99999px;
}
.header .container{
	height:64px;
	position:relative
}
.header .container{
    height: 64px;
    position: relative;
}
.info-nav a{
	color:#7E7E7E;
	*display:block;
	margin-top:0
}
.info-nav div.dropdown{
	top:30px;
	z-index:7000
}
.account-wrapper{
	float:right;
	position:relative;
	margin-top:15px;
	margin-left:13px;
	text-align: left;
}
#user-account-nav{
	color:#d3d3d3;
	list-style:none;
	padding:0;
	position:relative;
	z-index:4050;
	*zoom:1
}
#user-account-nav:after{
	content:"";
	display:table;
	clear:both
}
#user-account-nav li{
	background-color:#333;
	border-width:1px 0;
	box-shadow:inset 0 1px 0 0 #363636;
	display:block;
	float:left
}
#user-account-nav li>a{
	border:none;
	color:#666565;
	cursor:pointer;
	display:block;
	font-size:12px;
	line-height:12px;
	padding:9px 4px 12px;
	position:relative;
	text-shadow:0 0 0 transparent,0 1px rgba(29,29,29,0.2);
	z-index:6050
}
#user-account-nav li .user_balance{
	color:#f5f5f5;
	font-weight:bold;
	padding-right:5px
}
#user-account-nav li div{
	background:#1f1f1f;
	background:rgba(31,31,31,0.98);
	border-bottom:1px solid rgba(35,35,35,0.2);
	-webkit-border-radius:0 0 9px 9px;
	-moz-border-radius:0 0 9px 9px;
	-ms-border-radius:0 0 9px 9px;
	-o-border-radius:0 0 9px 9px;
	border-radius:0 0 9px 9px;
	box-shadow:4px 4px 0 0 rgba(35,35,35,0.1);
	left:0;
	overflow:hidden;
	padding:10px 20px;
	position:absolute;
	right:0;
	top:33px;
	z-index:6000
}
#user-account-nav li div ul{
	list-style-type:none
}
#user-account-nav li div li{
	background:transparent;
	border:0;
	box-shadow:none;
	display:block;
	float:none
}
#user-account-nav li div a{
	color:#7e7e7e;
	padding:5px 0 8px;
}
#user-account-nav li div a:before{
	background:url(/static/templates/default/img/common.png) 0 -1790px no-repeat;
	content:"";
	float:right;
	height:20px;
	margin-left:10px;
	opacity:0.6;
	position:relative;
	top:-2px;
	width:20px
}
#user-account-nav li div a:hover,#user-account-nav li div a:focus{
	background:transparent;
	color:#C5C5C5;
	text-decoration:none
}
#user-account-nav li div a:hover:before,#user-account-nav li div a:focus:before{
	opacity:1
}
#user-account-nav>li:hover>a,#user-account-nav>li:hover #sign-out-button,#user-account-nav>li>.active{
    background-color: #141414;
    color: #fff;
    text-decoration: none;
}
#user-account-nav .settings a:before{
	background-position:0 -1234px
}
#user-account-nav .downloads a:before{
	background-position:0 -2092px
}
#user-account-nav .bookmarks a:before{
	background-position:0 -2635px
}
#user-account-nav .deposit a:before{
	background-position:0 -2450px
}
#user-account-nav .become_author{
	border-top:1px solid #3e3e3e;
	margin-top:10px;
	padding-top:10px
}
#user-account-nav .become_author a:before{
	background-position:0 -1714px
}
#user-account-nav .author_dashboard{
	border-top:1px solid #3e3e3e;
	margin-top:10px;
	padding-top:10px
}
#user-account-nav .author_dashboard a:before{
	background-position:0 -1106px
}
#user-account-nav .upload a:before{
	background-position:0 -2375px
}
#user-account-nav .admin_dashboard{
	border-top:1px solid #3e3e3e;
	margin-top:10px;
	padding-top:10px
}
#user-account-nav .admin_dashboard a:before{
	background-position:0 -1603px
}
#user-account-nav .portfolio a:before{
	background-position:0 -1603px
}
#user-account-nav .earnings a:before{
	background-position:0 -2130px
}
#user-account-nav .statement a:before{
	background-position:0 -2923px
}
#user-account-nav .withdrawal a:before{
	background-position:0 -1752px
}
#user-account-nav>li:first-child{
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-ms-border-radius:5px 0 0 5px;
	-o-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	min-width:115px;
	margin-right: 1px;
}
#user-account-nav>li:first-child.create-account{
	min-width:171px
}
#user-account-nav>li:first-child>a{
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-ms-border-radius:5px 0 0 5px;
	-o-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	color:#979494;
	padding: 0 0 0 17px;
	height: 33px;
	line-height: 33px;
}
#user-account-nav>li:first-child div{
	display:none
}
#user-account-nav>li:first-child:hover div{
	display:block
}
#user-account-nav>li:last-child{
	-webkit-border-radius:0 8px 8px 0;
	-moz-border-radius:0 8px 8px 0;
	-ms-border-radius:0 8px 8px 0;
	-o-border-radius:0 8px 8px 0;
	border-radius:0 8px 8px 0
}
#user-account-nav>li:last-child:before{
	content:" ";
	height:14px;
	position:absolute;
	top:9px
}
#user-account-nav>li:last-child:hover:before{
	display:none
}
#user-account-nav>li:last-child>a{
	-webkit-border-radius:0 8px 8px 0;
	-moz-border-radius:0 8px 8px 0;
	-ms-border-radius:0 8px 8px 0;
	-o-border-radius:0 8px 8px 0;
	border-radius:0 8px 8px 0;
	color:#979494;
	padding: 0 16px;
	height: 33px;
	line-height: 33px;
}
#user-account-nav>li:last-child>a:hover,#user-account-nav>li:last-child>a:focus,#user-account-nav>li:last-child>a.active{
	color:#fff
}
#user-account-nav>li:last-child div a{
	color:#ffe59e
}
.sign-out-form div{
	display:none !important
}
#sign-out-button,#sign-out-button:active{
	background:transparent none;
	border:0;
	box-shadow:none;
	text-shadow:none;
	-webkit-border-radius:0 8px 8px 0;
	-moz-border-radius:0 8px 8px 0;
	-ms-border-radius:0 8px 8px 0;
	-o-border-radius:0 8px 8px 0;
	border-radius:0 8px 8px 0;
	color:#9e9e9e;
	font-size:12px;
	height:33px;
	line-height:33px;
	padding:0 15px 0 14px;
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
	cursor: pointer;
}
#homepage .page-info{
	display:none
}
#homepage #content{
	border-top:0;
	padding-top:20px
}
.page-info{
	background:#d7d7d7;
	border-top:1px solid #000000;
	border-bottom:1px solid #bababa
}
.page-info .container{
	overflow:hidden;
	padding:0 0 10px
}
.page-info h1{
	text-shadow:0 1px rgba(255,255,255,0.5);
	color:#383838
}
.container{
    margin: 0 auto;
    width: 1080px;
}
.pagenav{
    background-color: #333;
    display: block;
    min-width: 1080px;
    position: relative;
    z-index: 3100;
}
.pagenav>ul{
	position:relative;
	left:-5px
}
.pagenav ul,.info-nav{
	list-style:none;
}
.info-nav{
    float: right;
    list-style: outside none none;
    margin: 9px 0 0;
    padding: 0;
    width: auto;
    z-index: 3200;
}
.pagenav ul li,.info-nav li{
	display:inline-block;
	float:left;
	font-size:12px;
	line-height:18px;
	position:relative;
	z-index:5000
}
.pagenav ul li .dropdown,.info-nav li .dropdown{
	background-color:#fff;
	border-bottom:1px solid rgba(35,35,35,0.2);
	box-shadow:4px 4px 0 0 rgba(35,35,35,0.1);
	display:none;
	left:0;
	position:absolute;
	top:38px;
	width:150px;
	text-align: left;
	z-index:9999
}
.pagenav ul li .dropdown ul,.info-nav li .dropdown ul{
	width:100%;
	list-style-type:none
}
.pagenav ul li .dropdown li,.info-nav li .dropdown li{
	display:block;
	float:none;
	font-size:inherit;
	line-height:24px;
	margin:0;
	padding:0;
	z-index:auto
}
.pagenav ul li .dropdown li a,.info-nav li .dropdown li a{
	border-bottom:0;
	color:#7e7e7e;
	display:block;
	font-size:inherit;
	height: 34px;
	line-height:34px;
	margin:0;
	padding:0;
	position:static;
	text-shadow:0 0 transparent;
	padding-left: 15px;
}
.pagenav ul li .dropdown li .cross-site-category:after,.info-nav li .dropdown li .cross-site-category:after{
	background:url(/static/templates/default/img/common.png) 0 -2740px
}
.pagenav ul li .dropdown li .cross-site-category:hover:after,.info-nav li .dropdown li .cross-site-category:hover:after{
	background:url(/static/templates/default/img/common.png) 0 -2769px
}
.pagenav ul li .dropdown li:hover,.info-nav li .dropdown li:hover{
	background:transparent
}
.pagenav ul li .dropdown a:hover,.info-nav li .dropdown a:hover{
	background-color: #e5e5e5;
	border-radius: 0;
	color:#232323;
	text-decoration:none
}
.pagenav ul .meta-links-top,.info-nav .meta-links-top{
	border-bottom:1px solid #ccc;
}
.pagenav ul .meta-links-bottom,.info-nav .meta-links-bottom{
	border-top:1px solid #ccc;
	margin-top:4px;
	padding-top:4px
}
.pagenav ul .cross-site-category:after,.info-nav .cross-site-category:after{
	background:url(/static/templates/default/img/common.png) 0 -2740px;
	content:"";
	display:inline-block;
	height:10px;
	margin-left:5px;
	width:15px
}
.pagenav ul a,.info-nav a{
    border-bottom: 1px solid transparent;
    color: #C5C5C5;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin: 7px 0;
    padding: 6px 10px;
    position: relative;
    text-shadow: 0 0 0 transparent, 0 1px rgba(29, 29, 29, 0.2);
}
.pagenav ul li:hover a,.info-nav li:hover a{
	background-color: #141414;
	border-radius: 5px 5px 0 0;
    color: #fff;
    text-decoration: none;
}
.pagenav ul li:hover .cross-site-category:after,.info-nav li:hover .cross-site-category:after{
	background:url(/static/templates/default/img/common.png) 0 -2798px
}
.pagenav ul li:hover div,.info-nav li:hover div{
	display:block
}
.pagenav ul li:hover div a,.info-nav li:hover div a{
	background:transparent;
	border-bottom:0
}
.pagenav .search-container{
	*zoom:1;
	display:block;
	float:right;
	padding:7px 0;
	position:relative
}
.pagenav .search-container:after{
	content:"";
	display:table;
	clear:both
}
.pagenav .search-container input{
	border-color:#fff;
	float:left;
	padding:6px 31px 7px 6px;
	width:170px;
	position: relative;
	z-index: 80;
}
.pagenav .search-container button[type=submit]{
	background: url(/static/templates/default/img/custom/icon.jpg) no-repeat -79px -111px;
	width: 31px;
	height: 28px;
	border:0;
	float:right;
	margin: 1px 0 0 -30px;
	position: relative;
	z-index: 100;
}
#copyright{
	text-align: left;
}
.pagetop, .pagenav, .pagefooter, .pagetit{
	min-width: 1080px;
	text-align: left;
}
.pageblock, .titblock, .pageblock, .navblock, .pagenav .navcontent{
	width: 1080px;
	margin: 0 auto;
	text-align: left;
}
.pagetop{
	background-color: #232323;
}
.pagetop .pageblock{
	height: 65px;
}
.pagetop .pagelogo a{
	display: block;
	width: 182px;
	height: 65px;
	background: url(/static/templates/default/img/custom/logo.jpg) no-repeat center center;
	overflow: hidden;
	text-indent: -99999px;
}
.pagestate .userstate{
	margin-top: 16px;
}
.pagestate .userstate li{
	float: left;
}
.pagestate .userstate li a{
	display: block;
	height: 32px;
	line-height: 32px;
	text-align: center;
}
.pagestate .userstate .reg{
	color: #fff;
	width: 125px;
	background-color: #141414;
	border-radius: 5px 0 0 5px;
}
.pagestate .userstate .login, .pagestate .userstate .loginout{
	color: #979494;
	width: 67px;
	background-color: #333;
	border-radius: 0 5px 5px 0;
	margin-left: 1px;
}
.pagestate .userstate .login:hover, .pagestate .userstate .loginout:hover{
	color: #979494;
	background-color: #141414;
}
.pagestate .topnav{
	margin-top: 19px;
	margin-right: 40px;
}
.pagestate .topnav li{
	float: left;
	font-size: 14px;
}
.pagestate .topnav li a.navlink{
	display: block;
	padding: 0 14px;
	height: 28px;
	line-height: 28px;
	color: #979494;
	text-align: center;
}
.pagestate .topnav li a.navlink:hover, .pagestate .topnav li a.navlink.active{
	color: #fff;
	background-color: #141414;
	border-radius: 5px 5px 0 0;
}
.pagestate .topnav li a.navlink.active2{
	color: #fff;
	background-color: #141414;
	border-radius: 5px;
}
.pagestate .topnav li ol, .pagestate .userstate li ol, .pagenav li ol{
	background-color: #fff;
	position: absolute;
	display: none;
	z-index: 100;
	box-shadow: 1px 1px 2px #000;
	border-left: 1px solid #999;
	border-radius: 0 0 5px 5px;
}
.pagestate .topnav li ol li, .pagestate .userstate li ol li, .pagenav li ol li{
	float: none;
}
.pagestate .topnav li ol li:last-child a, .pagestate .userstate li ol li:last-child a, .pagenav li ol li:last-child a{
	float: none;
	border-radius: 0 0 5px 5px;
}
.pagestate .topnav li ol a, .pagestate .userstate li ol a, .pagenav li ol a{
	display: block;
	width: 110px;
	height: 26px;
	padding-left: 10px;
	line-height: 26px;
	color: #858585;
}
.pagestate .topnav li ol a:hover{
	background-color: #e5e5e5;
}
.pagestate .userstate li ol a{
	text-align: left;
	font-size: 14px;
}
.pagestate .userstate li ol a:hover{
	background-color: #e5e5e5;
}
.pagestate .userstate .cart{
	background: url(/static/templates/default/img/custom/icon.jpg) no-repeat 0px -111px;
	width: 28px;
	height: 32px;
	overflow: hidden;
	text-indent: -99999px;
}
.pagestate .userstate .logstate{
	color: #fff;
	background-color: #141414;
	padding: 0 15px;
	border-radius: 5px 0 0 5px;
}
.pagestate .userstate .logstate.active{
	border-radius: 5px 0 0 0;
}
.pagenav .navcontent{
	position: relative;
}
.pagenav .navcontent #pagemainnavbtn{
	display: none;
}
.pagenav li ol a{
	width: 160px;
	height: 34px;
	line-height: 34px;
}
.pagenav li ol a:hover{
	background-color: #e5e5e5;
}
.pagenav{
	background-color: #333;
	height: 45px;
}
.pagenav .pageblock{
	height: 46px;
	position: relative;
}
.pagenav ul{
}
.pagenav ul > li{
	float: left;
}
.pagenav ul a.navlink{
	height: 34px;
	line-height: 34px;
	display: block;
	padding: 0 20px;
	color: #979494;
	text-align: center;
	margin-top: 7px;
}
.pagenav ul a.navlink:hover, .pagenav ul a.navlink.active{
	color: #fff;
	background-color: #141414;
	border-radius: 5px 5px 0 0;
}
.pagenav ul a.navlink.active2{
	color: #fff;
	background-color: #141414;
	border-radius: 5px;
}
.pagenav .navsearch{
	width: 200px;
	height: 30px;
	position: absolute;
	top: 7px;
	right: 0px;
	z-index: 90;
	background-color: #fff;
	border: 1px solid #222;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #4b4b4b;
}
.pagenav .navsearch .navsearchipt{
	width: 158px;
	height: 26px;
	border: none;
	background: none;
	margin: 2px 0 0 8px;
	font-size: 16px;
	color: #979494;
}
.pagenav .navsearch .navsearchipt.isfocus{
	color: #000;
}
.pagenav .navsearch .navsearchsub{
	width: 31px;
	height: 28px;
	background: url(/static/templates/default/img/custom/icon.jpg) no-repeat -79px -111px;
	border: none;
	text-indent: -99999px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	top: 1px;
	right: 3px;
}
.pagefooter{
	background-color: #232323;
}
.pagefooter .pageblock{
}
.pagefooter .footertop{
	height: 75px;
	border-bottom: 1px solid #444;
	position: relative;
}
.pagefooter .footertop a{
	position: absolute;
	top: 14px;
	z-index: 1;
	width: 200px;
	height: 60px;
	display: block;
	background: url(/static/templates/default/img/custom/logo.png) no-repeat center center;
	overflow: hidden;
	text-indent: -99999px;
}
.pagefooter .footertop .footertxt{
	position: absolute;
	right: 0px;
	font-size: 20px;
	color: #999;
	top: 39px;
}
.pagefooter .footertop .footertxt span{
	color: #fff;
}
.pagefooter .footerbtm{
	margin-top: 24px;
	color: #999;
}
.pagefooter .footerbtm .abouts{
	width: 300px;
}
.pagefooter .footerbtm h3{
	color: #fff;
	font-size: 20px;
}
.footerbtm .abouts .follow{
	margin: 16px 0 46px 0;
}
.footerbtm .abouts .follow li{
	float: left;
	margin-right: 10px;
}
.footerbtm .abouts .follow li a{
	display: block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	text-indent: -99999px;
	background: url(/static/templates/default/img/custom/icon.jpg) no-repeat 0px 0px;
}
.footerbtm .abouts .follow li a.t1{
	background-position: 0px 0px;
}
.footerbtm .abouts .follow li a.t2{
	background-position: -40px 0px;
}
.footerbtm .abouts .follow li a.t3{
	background-position: -80px 0px;
}
.footerbtm .abouts .follow li a.t4{
	background-position: -120px 0px;
}
.footerbtm .abouts .aboutlink li{
	margin: 7px 0;
}
.footerbtm .abouts .aboutlink a{
	color: #999;
	font-size: 14px;
}
.pagefooter .footerbtm .subs{
	width: 350px;
}
.footerbtm .subs p{
	margin: 16px 0;
}
.footerbtm .subs .iptbg{
	width: 266px;
	height: 40px;
	border-radius: 5px;
	background-color: #232323;
}
.footerbtm .subs .mailipt{
	border: none;
	background: none;
	color: #999;
	line-height: 40px;
	width: 246px;
	height: 40px;
	margin: 0 10px;
}
.footerbtm .subs .mailipt.isfocus{
	color: #fff;
}
.footerbtm .subs .mailsub{
	margin-top: 11px;
	background: none;
	border: none;
	background-color: #0093d6;
	width: 266px;
	height: 42px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	border-bottom: 2px solid #0d5b7f;
}
.pagefooter .footerbtm .btmitems{
	padding: 24px 0 36px 0;
}
.footerbtm .btmitems li{
	float: left;
	border-right: 1px solid #444;
	border-left: 1px solid #282828;
	height: 125px;
	width: 358px;
	position: relative;
	font-size: 16px;
}
.footerbtm .btmitems li.itemtips1{
	border-left: none;
}
.footerbtm .btmitems li.itemtips3{
	border-right: none;
}
.footerbtm .btmitems li .itemtxt{
	color: #999;
	position: absolute;
	top: 24px;
	left: 139px;
}
.footerbtm .btmitems li .itemtxt .author{
	color: #fff;
	font-size: 20px;
}
.footerbtm .btmitems li .itemtxt .nums{
	color: #20c4ff;
	font-size: 30px;
}
.footerbtm .btmitems li .txtlink{
	color: #20c4ff;
	font-size: 14px;
	position: absolute;
	right: 30px;
	bottom: 6px;
}
.footerbtm .btmitems li .imglink{
	position: absolute;
	left: 35px;
	top: 20px;
}
.pagefooter .footerbtm .edcs{
	width: 412px;
}
.footerbtm .edcs{
	font-size: 14px;
}
.footerbtm .edcs .edcitem{
	margin: 21px 0 29px 0;
}
.footerbtm .edcs .edcitem img{
	float: left;
	display: block;
	width: 110px;
	height: 110px;
	background-color: #232323;
	padding: 1px;
}
.footerbtm .edcs .edcitem p{
	float: left;
	width: 276px;
	margin-left: 20px;
	margin-top: 15px;
	line-height: 150%;
}
.pagefooter .footercopy{
	overflow: hidden;
	width: 1080px;
	color: #999;
	font-size: 14px;
	text-align: center;
	padding: 10px 0 50px 0;
}
.pagefooter .footercopy ul, .pagefooter .footercopy p{
	margin: 4px 0;
	display: block;
}
.pagefooter .footercopy ul li, .pagefooter .footercopy p span{
	text-align: center;
	margin: 0 2px;
	display: inline;
}
.pagefooter .footercopy ul li{
	margin: 0 10px 0 5px;
}
.pagefooter .footercopy ul li.pipe{
	margin: 0;
}
.pagefooter .footercopy ul a{
	color: #999;
}
.pagefooter .footercopy p{

}
.pagefooter .footercopy p a, .pagefooter .footercopy ul.frlinks a{
	color: #20c4ff;
}
.pagefooter .footercopy ul.frlinks{
	margin-top: 14px;
}
#pagemsg{
	position: absolute;
	z-index: 200;
	top: 0;
	left: 0;
	width: 492px;
	height: 337px;
	border: 1px solid #000;
	background-color: #333;
	display: none;
}
#pagemsg .imgmask{
	margin: 10px;
	border: 1px solid #000;
	border-right-color: #fff;
	border-bottom-color: #fff;
	width: 470px;
	height: 240px;
	overflow: hidden;
}
#pagemsg .msgimg{
	width: 470px;
}
#pagemsg .msgdetail{
	text-align: left;
	padding: 0 0 0 10px;
	color: #fff;
}
#pagemsg .msgdetail .msgtit{

}
#pagemsg .msgdetail .msgauthor{
	font-size: 12px;
	color: #797979;
}
#pagemsg .msgdetail .msgtag{
	font-size: 14px;
	color: #999;
	margin: 5px 0 8px 0;
}
#pagemsg .msgdetail .msgcost{
	position: absolute;
	right: 10px;
	bottom: 2px;
	font-size: 28px;
}
#pagemsg .msgdetail .msgcost b{
	vertical-align: 14px;
}
#pagemsg .msgdetail .msgcost .costnum{
	font-size: 46px;
}
.pagetit{
	background-color: #f5f5f5;
	height: 96px;
}
.pagetit .titblock, .pagetit .navblock{
	width: 1080px;
	margin: 0 auto;
	overflow: hidden;
}
.pagetit .titblock h2, .pagetit .navblock h2{
	color: #484848;
	font-size: 26px;
	margin: 20px 0 5px 0;
}
.pagetit .titblock h2 .sp, .pagetit .navblock h2 .sp{
	font-size: 14px;
	line-height: 14px;
    vertical-align: -3px;
    margin-left: 4px;
}
.pagetit .titblock p{
	color: #7b7b7b;
	font-size: 14px;
}
.pagetit .navblock{
	padding-left: 20px;
	width: 1060px;
}
.pagetit .navblock .titnav{
	margin: 10px 0 5px 0;
	font-size: 14px;
	color: #858585;
}
.pagetit .navblock .titnav a{
	color: #858585;
}
.pagetit .navblock .titnav li{
	float: left;
}
.pagetit .navblock .titnav li.pipe{
	margin: 0 10px;
}
.pagetit .navblock h2{
	margin: 0 0 5px 0;
}
.pagetit.pagetabs{
	height: 132px;
	border-bottom: 1px solid #e1e8ed;
}
.pagetit.pagetabs .titnav{
	margin-top: 15px;
}
.pagetit.pagetabs h2{
	margin-top: 10px;
}
.pageblock .leftdetail .pagetab{
	padding-top: 16px;
	background-color: #f5f5f5;
	margin-bottom: 10px;
}
.pagetit.pagetabs .pagetab{
	margin-top: 16px;
}
.pageblock .leftdetail .pagetab li, .pagetit.pagetabs .pagetab li{
	float: left;
	margin: 0 .1em;
}
.pageblock .leftdetail .pagetab li a, .pagetit.pagetabs .pagetab li a{
	height: 37px;
	line-height: 36px;
	color: #636262;
	background-color: #f5f5f5;
	display: block;
	padding: 0 18px;
	border-radius: 3px 3px 0 0;
}
.pageblock .leftdetail .pagetab li a:hover, .pagetit.pagetabs .pagetab li a:hover{
	background-color: #e0e0e0;
	border: 1px solid #e0e0e0;
	border-bottom-color: #e0e0e0;
	color: #000;
	height: 36px;
	padding: 0 17px;
	line-height: 34px;
}
.pageblock .leftdetail .pagetab li a.active, .pageblock .leftdetail .pagetab li a.active:hover, .pagetit.pagetabs .pagetab li a.active, .pagetit.pagetabs .pagetab li a.active:hover{
	background-color: #fff;
	border: 1px solid #e1e8ed;
	border-bottom-color: #fff;
	color: #000;
	height: 36px;
	padding: 0 18px;
	line-height: 36px;
}
.pagenav .main-nav .navsearch{
	width: 200px;
	height: 30px;
	position: absolute;
	top: 7px;
	right: 0px;
	z-index: 90;
	background-color: #fff;
	border: 1px solid #222;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #4b4b4b;
	text-align: left;
}
.pagenav .main-nav .navsearch .navsearchipt{
	width: 158px;
	height: 26px;
	border: none;
	background: none;
	margin: 2px 0 0 8px;
	font-size: 16px;
	color: #979494;
}
.pagenav .main-nav .navsearch .navsearchsub{
	width: 31px;
	height: 28px;
	background: url(/static/templates/default/img/custom/icon.jpg) no-repeat -79px -111px;
	border: none;
	text-indent: -99999px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	top: 1px;
	right: 3px;
	padding: 0;
	margin: 0;
	min-width: 0;
}
.magnifier {
    background: none repeat scroll 0 0 #333;
    border: 1px solid #000;
    color: #fff;
    display: none;
    padding: 0 10px 7px;
    position: absolute;
    text-align: left;
    z-index: 9100;
}
.magnifier .size-limiter{
	margin-top:10px;
	background:#565656
}
.magnifier strong{
	padding-top:7px;
	/*font:16px/20px Helvetica,Arial,sans-serif;*/
	color:#fff;
	font-weight:bold;
	display:block
}
.magnifier .info{
	color:#686868;
	font-size:14px;
	line-height:18px;
	overflow:hidden;
	width:100%
}
.magnifier .author-category{
	float:left
}
.magnifier .price{
	float:right;
	margin-left:20px;
	font-size:40px;
	font-weight:bold;
	color:#fff;
	height: 40px;
}
.magnifier .price.freepri{
	color: #999;
}
.magnifier .price .symbol{
	font-size: 16px;
    vertical-align: 19px;
}
.magnifier .price.freepri .cost{
	text-decoration: line-through;
}
.magnifier .price sup{
	font-size:23px;
	vertical-align:10px
}
.magnifier .category{
	display:block;
	color:#aeaeae;
	padding-top:8px
}
#landscape-image-magnifier .size-limiter{
	width:472px;
	height:240px;
	overflow:hidden
}
#landscape-image-magnifier .size-limiter img{
	width:472px;
	height:auto
}
#landscape-image-magnifier .size-limiter .pretxt{
	position: absolute;
	z-index: 300;
	color: #000;
	bottom: 0;
	height: 66px;
	margin: 8px 2% 6px 2%;
	width: 96%;
	overflow: hidden;
	line-height: 22px;
}
#landscape-image-magnifier .size-limiter .prebg{
	position: absolute;
	z-index: 200;
	background-color: #fff;
	opacity: .7;
	filter:alpha(opacity=70);
	height: 80px;
	width: 100%;
	bottom: 0;
}
#landscape-image-magnifier strong{
	width:472px;
}
#landscape-image-magnifier strong.autow{
	width: auto;
}
#portrait-image-magnifier .size-limiter{
	width:240px;
	height:472px;
	overflow:hidden
}
#portrait-image-magnifier .size-limiter img{
	width:auto;
	height:472px
}
#portrait-image-magnifier strong{
	width:240px
}
#square-image-magnifier .size-limiter{
	width:300px;
	height:300px;
	overflow:hidden;
	margin:10px auto 0px
}
#square-image-magnifier .size-limiter img{
	width:300px;
	height:auto;
	display:block
}
#square-image-magnifier strong{
	width:300px
}
#smart-image-magnifier .size-limiter{
	overflow:hidden;
	position:relative;
	text-align:center
}
#smart-image-magnifier .size-limiter img{
	display:block;
	margin:0px auto
}
#smart-image-magnifier.previewable img{
	position:absolute;
	top:0;
	left:0;
	z-index:1
}
#smart-image-magnifier.previewable img.thumbnail_preview{
	z-index:0
}
.content-box {
    background: none repeat scroll 0 0 #f4f4f4;
    border: 1px solid #bbb;
    display: block;
    padding: 20px;
}
select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    height: 30px;
    margin: 0;
    padding: 4px;
    width: auto;
}
.form-submit:last-child {
    padding-bottom: 0;
}
.form-submit {
    padding: 10px 0;
    text-align: right;
}
.vertical-form label{
	display:block;
	font-size:14px;
	font-weight:bold;
	margin:0 0 5px
}
.vertical-form input[type=email],.vertical-form input[type=url],.vertical-form input[type=password],.vertical-form input[type=text],.vertical-form input[type=file],.vertical-form select{
	display:block;
	width:50.81967%
}
.vertical-form input[type=email].inline,.vertical-form input[type=url].inline,.vertical-form input[type=password].inline,.vertical-form input[type=text].inline,.vertical-form input[type=file].inline,.vertical-form select.inline{
	display:inline-block;
	margin-right:10px
}
.vertical-form textarea{
	width:100%
}
.vertical-form .input-group{
	margin-bottom:25px;
	*zoom:1
}
.vertical-form .input-group:after{
	content:"";
	display:table;
	clear:both
}
.vertical-form .input-group:last-child{
	margin-bottom:0
}
.vertical-form .inputs{
	*zoom:1
}
.vertical-form .inputs:after{
	content:"";
	display:table;
	clear:both
}
.vertical-form .inputs label{
	cursor:pointer;
	font-size:13px;
	font-weight:normal;
	margin:0 20px 0 0;
	padding-left:15px;
	text-indent:-14px
}
.vertical-form pre.existing-value{
	overflow:hidden;
	width:610px
}
.horizontal-form .errtxt, .horizontal-form .suctxt{
	float: left;
	margin: 4px 0 0 5px;
}
.horizontal-form .errtxt{
	color: #f00;
}
.horizontal-form label{
	display:block;
	float:left;
	width:18.03279%;
	margin:6px 3.27869% 0 0
}
.horizontal-form .input-group{
	margin-bottom:25px;
	*zoom:1
}
.horizontal-form .input-group:after{
	content:"";
	display:table;
	clear:both
}
.horizontal-form .input-group.no-margin{
	margin:0
}
.horizontal-form .inputs{
	float:left;
	position:relative;
	width:52%
}
.horizontal-form .inputs.sp{
	width: 65%;
}
.horizontal-form .right{
    display: block;
    float: left;
    width: auto;
    margin: 6px 3.27869% 0px 0px
}
.horizontal-form .inputs.full-width{
	width:100%
}
.horizontal-form .inputs.full-width label.invalid{
	position:static;
	padding-left:5px
}
.horizontal-form .inputs input[type=email],.horizontal-form .inputs input[type=url],.horizontal-form .inputs input[type=password],.horizontal-form .inputs input[type=text],.horizontal-form .inputs input[type=file],.horizontal-form .inputs select{
	display:block;
	width:98%
}
.horizontal-form .inputs input[type=email].inline,.horizontal-form .inputs input[type=url].inline,.horizontal-form .inputs input[type=password].inline,.horizontal-form .inputs input[type=text].inline,.horizontal-form .inputs input[type=file].inline,.horizontal-form .inputs select.inline{
	display:inline-block
}
.horizontal-form .inputs input[type=email].full-width,.horizontal-form .inputs input[type=url].full-width,.horizontal-form .inputs input[type=password].full-width,.horizontal-form .inputs input[type=text].full-width,.horizontal-form .inputs input[type=file].full-width,.horizontal-form .inputs select.full-width{
	width:100%
}
.horizontal-form .inputs textarea{
	width:100%
}
.horizontal-form .inputs small{
	display:inline-block;
	margin:5px 0 0 5px
}
.horizontal-form .inputs label{
	display:inline-block;
	float:none;
	font:13px "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	margin-bottom:5px;
	width:auto
}
.horizontal-form .inputs label.invalid{
	bottom:-21px;
	color:#a90000;
	font-size:11px;
	left:5px;
	position:absolute
}
.horizontal-form .inputs .flexible.img-border{
	max-width:470px
}
.horizontal-form .inputs .inline{
	display:inline-block
}
.horizontal-form .no-label{
	margin-left:21.31148%
}
.horizontal-form .inputs-list{
	list-style:none;
	padding-top:2px
}
.horizontal-form .inputs-list label{
	float:none;
	margin-bottom:0
}
.horizontal-form .expose-hidden{
	display:inline-block;
	margin-top:6px
}
.horizontal-form .meter{
	left:66.66667%;
	position:absolute;
	top:0;
	width:33.33333%
}
.item-list .author {
    font-size: 11px;
}
h3.underlined {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.underlined {
    border-bottom: 1px solid #bfbebe;
    box-shadow: 0 2px 0 -1px #ededed;
}
div.general_table_border{
	border:4px solid #b7b7b7;
	margin:10px 0px 10px 0px;
	clear:both
}
table.general_table{
	border:1px solid #777;
	width:100%
}
table.general_table thead td,table.general_table thead th{
	background-color:#db592b;
	border-bottom:1px solid;
	border-color:#a42d19;
	background-image:url(/static/templates/default/img/nav-background.png);
	background-repeat:repeat-x;
	font-size:10px;
	text-transform:uppercase;
	color:#fff;
	padding:8px 8px
}
table.general_table thead td strong,table.general_table thead th strong{
	font-weight:bold;
	color:#fff
}
table.general_table thead td a,table.general_table thead th a{
	color:#ffe59e
}
table.general_table thead td.highlighted{
	background-color:#a42d19;
	color:#fff6da
}
table.general_table tbody td{
	padding:5px 10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #d0d0d0;
	background-color:#f4f4f4;
	font-size:12px;
	color:#494949
}
table.general_table tbody td.highlighted{
	background-color:#d4d4d4
}
table.general_table tbody td.no-wrap{
	white-space:nowrap
}
table.general_table tbody td.number{
	text-align:right
}
table.general_table tbody tr:hover td{
	background-color:#fff
}
table.general_table tbody tr.js-fishy-hover td{
	background-color:#fff
}
table.general_table tbody tr.js-fishy-hover.js-selected td{
	background-color:#fff6da
}
table.general_table tfoot td{
	background-color:#fff6da;
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#f17d4d;
	font-size:13px;
	color:#3a362f;
	padding:5px 10px;
	font-weight:bold
}
table.general_table tfoot td a{
	color:#bb3e26
}
.graph{
	overflow:hidden;
	clear:both;
	padding-top:1px
}
.graph .bar{
	clear:both
}
.graph .bar strong{
	float:left;
	width:130px;
	height:19px
}
.graph .bar .graph_1{
	height:25px;
	background-color:#db592b;
	background-image:url(/static/templates/default/img/nav-background.png);
	border:1px solid;
	border-color:#a42d19;
	float:left;
	margin-top:-1px
}
.graph .bar .graph_2{
	height:25px;
	background-color:#db592b;
	background-image:url(/static/templates/default/img/nav-background-alt.png);
	border:1px solid;
	border-color:#a42d19;
	float:left;
	margin-top:-1px
}
.graph .bar .value{
	float:left;
	margin-left:10px;
	font-size:12px;
	text-transform:uppercase;
	color:#898989;
	padding-top:4px
}
.leftdetail .commentblock{
}
.leftdetail .commentblock .pagenums{
	margin: 10px 0;
}
.leftdetail .commentblock .pagenums a{
	padding: 9px 8px;
	margin: 0 4px;
	color: #9f9999;
}
.leftdetail .commentblock .pagenums a.current, .leftdetail .commentblock .pagenums a:hover{
	border: 1px solid #e1e8ed;
	background-color: #eee;
	padding: 8px 7px;
	color: #000;
	border-radius: 3px;
}
.leftdetail .commentblock .commentlist{
}
.commentblock .commentlist .comment{

}
.comment {
    margin-bottom: 20px;
    word-wrap: break-word;
}
.comment .comment__user{
	float: left;
    position: relative;
    text-align: center;
	margin-right: 23px;
	width: 90px;
}
.comment .comment__user a{
	display: block;
	width: 90px;
	height: 90px;

}
.comment .comment__user a img{
	display: block;
	width: 100%;
	height: 100%;
}
.comment .comment__user a span{
	display: block;
	font-size: 14px;
	color: #0093d6;
	text-align: center;
	width: 90px;
	margin-top: 3px;
}
.comment .comment__container{
	width: 564px;
	float: left;
}
.comment__container .content-box{
	display: block;
	background-color: #f5f5f5;
	border: none;
	border-radius: 5px 5px 0 0;
	padding: 20px 20px 30px 20px;
	position: relative;
	border-radius: 0 0 5px 5px;
}
.comment__header {
    margin-bottom: 0.5em;
}
.comment p {
    padding: 0 0 1em;
}
.comment__meta {
    cursor: default;
    float: right;
    font-size: 12px;
}
.commentblock .content-box.vertical-space{
	border-radius: 5px;
}
.comment__container .content-box .comment__meta, .comment__container .comment__reply .comment__meta{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.comment__container .comment__reply{
	margin: 0 0 1px 0;
	background-color: #e5e5e5;
	padding-bottom: 30px;
	position: relative;
}
.comment__container .comment__reply:last-child{
	border-radius: 0 0 5px 5px;
}
.comment__user-type--author, .comment__user-type--purchased{
	background-color: #b5b5b5;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 10px;
    margin-left: 1em;
    padding: 4px;
    text-transform: uppercase;
    vertical-align: top;
	margin-top: 2px;
}
.comment__container .btntheme2{
	background-image: none;
	display: inline-block;
	text-align: center;
	width: 55px;
	height: 25px;
	line-height: 21px;
	padding: 0;
}
.leftdetail .commentblock .box-heading{
	background: none repeat scroll 0 0 #434343;
    color: #fff;
    font-size: 18px;
    line-height: inherit;
    margin-top: 20px;
    padding: 11px 15px;
	border-radius: 5px 5px 0 0;
}
.leftdetail .commentblock .content-box{
}
.leftdetail .commentblock .content-box.vertical-space{
	border-radius: 5px;
}
.leftdetail .commentblock .content-box label{
	font-size: 14px;
}
.leftdetail .commentblock .content-box textarea{
	resize: none;
}
.box-info{
	background: #dcd7cd url(/static/templates/default/img/note.gif) no-repeat 19px 10px;
	border: 1px solid #9d948e;
	padding: 30px;
	padding-left: 60px;
}
.tip{
	background: #f5f5b4 url(/static/templates/default/img/tip.gif) no-repeat 19px 10px;
	border: 1px solid #b6a375;
	padding: 30px;
	padding-left: 60px;
}
.box-error, .fsError{
	background: #fac7ae url(/static/templates/default/img/alert.png) no-repeat 19px center;
	border: 1px solid #bb726f;
	padding: 30px;
	padding-left: 70px;
}
.fsValidationError input.fsRequired, .fsValidationError input.input{
	border: 2px solid #bb726f;
}
.box-warning{
	background: #f5f5b4 url(/static/templates/default/img/info.gif) no-repeat 20px 15px;
	border: 1px solid #b6a375;
	padding: 30px;
	padding-left: 60px;
}
.box-success{
	background: #b7cf9d url(/static/templates/default/img/success.png) no-repeat 15px center;
	border: 1px solid;
	border-color: #6e8768;
	background-color: #cbe6c2;
	padding: 20px;
	padding-left: 70px;
}
.box-info, .tip, .box-error, .box-warning, .box-success, .fsError{
	color: #404040;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}
.box-info ul, .box-info ol, .tip ul, .tip ol, .box-error ul, .box-error ol, .box-warning ul, .notice ol, .box-success ul, .box-success ol, .fsError ul, .fsError ol{
	margin-bottom: 6px;
	margin-top: 6px;
	list-style-position: outside;
	margin-left: 20px;
}
.box-info ul li, .box-info ol li, .tip ul li, .tip ol li, .box-error ul li, .box-error ol li, .box-warning ul li, .box-warning ol li, .box-success ul li, .box-success ol li, .fsError ul li, .fsError ol li{
	padding-left: 8px;
	margin-bottom: 2px;
}
.box-info ul, .tip ul, .box-error ul, .box-warning ul, .box-success ul, .fsError ul{
	list-style-type: square;
}
.box-info ol, .tip ol, .box-error ol, .box-warning ol, .box-success ol, .fsError ol{
	list-style-type: decimal;
}
.box-info p, .tip p, .box-error p, .box-warning p, .box-success p, .fsError p{
	padding-top: 0px;
}
.comment__reply {
    background-color: #e5e5e5;
    margin: 0 1px 1px;
    padding: 15px 20px;
}
.comment__new-reply-field {
    height: 30px;
    padding: 5px 8px;
    resize: none;
    width: 100%;
}
.glyph-pencil::before {
    content: '\270e';
}
.comment__meta a {
    color: #aaa;
}
.comment__reply__avatar {
    float: left;
}
.comment__reply__body {
    margin-left: 50px;
}
.comment__new-reply {
    margin-left: 50px;
}
.side-tabs{
	list-style:none;
	width:345px
}
.side-tabs a{
	background:#c4c4c4;
	background:rgba(0,0,0,0.07);
	color:#444;
	cursor:pointer;
	display:block;
	line-height:13px;
	margin-bottom:1px;
	padding:13px 0 14px 55px;
	position:relative;
	-webkit-transition:all,0.2s;
	-moz-transition:all,0.2s;
	-o-transition:all,0.2s;
	transition:all,0.2s
}
.side-tabs a:before{
	border-right:1px solid rgba(255,255,255,0.3);
	content:" ";
	height:40px;
	left:0;
	position:absolute;
	top:0;
	width:40px
}
.side-tabs a:hover,.side-tabs a:focus{
	background:#d1ccc6;
	text-decoration:none;
	-webkit-transition:all,0s;
	-moz-transition:all,0s;
	-o-transition:all,0s;
	transition:all,0s
}
.side-tabs a.active{
	background:rgba(230,67,30,0.1);
	color:#8A6741;
	-webkit-transition:all,0.3s;
	-moz-transition:all,0.3s;
	-o-transition:all,0.3s;
	transition:all,0.3s
}
.side-tabs .icon-process:before{
	background:url(/static/templates/default/img/com.png) 12px -266px no-repeat
}
.side-tabs .icon-process.active:before{
	background:url(/static/templates/default/img/com.png) 12px -266px no-repeat
}
.side-tabs .icon-update:before{
	background:url(/static/templates/default/img/com.png) 12px -875px no-repeat
}
.side-tabs .icon-update.active:before{
	background:url(/static/templates/default/img/com.png) 12px -875px no-repeat
}
.side-tabs .icon-lock:before{
	background:url(/static/templates/default/img/com.png) 12px -585px no-repeat
}
.side-tabs .icon-lock.active:before{
	background:url(/static/templates/default/img/com.png) 12px -585px no-repeat
}
.side-tabs .icon-star:before{
	background:url(/static/templates/default/img/com.png) 12px -1269px no-repeat
}
.side-tabs .icon-star.active:before{
	background:url(/static/templates/default/img/com.png) 12px -1269px no-repeat
}
.side-tabs .icon-tick:before{
	background:url(/static/templates/default/img/com.png) 12px -659px no-repeat
}
.side-tabs .icon-tick.active:before{
	background:url(/static/templates/default/img/com.png) 12px -659px no-repeat
}
.side-tabs .icon-licence:before{
	background:url(/static/templates/default/img/com.png) 12px -1377px no-repeat
}
.side-tabs .icon-licence.active:before{
	background:url(/static/templates/default/img/com.png) 12px -1377px no-repeat
}
.side-tabs .icon-social:before{
	background:url(/static/templates/default/img/com.png) 12px -1017px no-repeat
}
.side-tabs .icon-social.active:before{
	background:url(/static/templates/default/img/com.png) 12px -1017px no-repeat
}
.side-tabs .icon-key:before{
	background:url(/static/templates/default/img/com.png) 12px -733px no-repeat
}
.side-tabs .icon-key.active:before{
	background:url(/static/templates/default/img/com.png) 12px -733px no-repeat
}
.side-tabs .icon-api:before{
	background:url(/static/templates/default/img/com.png) 12px -1159px no-repeat
}
.side-tabs .icon-api.active:before{
	background:url(/static/templates/default/img/com.png) 12px -1159px no-repeat
}
.side-tabs .icon-privacy:before{
	background:url(/static/templates/default/img/com.png) 12px -474px no-repeat
}
.side-tabs .icon-privacy.active:before{
	background:url(/static/templates/default/img/com.png) 12px -474px no-repeat
}
.side-tabs .icon-membership:before{
	background:url(/static/templates/default/img/com.png) 12px -437ppx no-repeat
}
.side-tabs .icon-membership.active:before{
	background:url(/static/templates/default/img/com.png) 12px -437px no-repeat
}
.side-tabs .icon-twofactor:before{
	background:url(/static/templates/default/img/com.png) 12px -1665px no-repeat
}
.side-tabs .icon-twofactor.active:before{
	background:url(/static/templates/default/img/com.png) 12px -1665px no-repeat
}
.side-tabs .icon-badge:before{
	background:url(/static/templates/default/img/com.png) 12px -1591px no-repeat
}
.side-tabs .icon-badge.active:before{
	background:url(/static/templates/default/img/com.png) 12px -1591px no-repeat
}
.download-action {
    clear: right;
    float: right;
    margin-bottom: 5px;
    width: 320px;
}
#process{
	margin-bottom:35px;
}
#process div.inner-boundary{
	border-color:#d7d7d7;
}
#process div.inner-boundary div.inner-border{
	position:relative;
	background-color:#f4f4f4;
	padding:0px;
}
#process div.inner-boundary div.inner-border div.single,#process div.inner-boundary div.inner-border a.single{
	float:right;
	color:#999;
	font-size:10px;
	margin-right:15px;
	line-height:35px;
}
#process div.inner-boundary div.inner-border img.context{
	position:absolute;
	left:13px;
	top:3px;
}
#process div.inner-boundary div.inner-border ul{
	list-style:none;
	overflow:hidden;
	float:left;
	margin-left:60px;
}
#process div.inner-boundary div.inner-border ul li{
	float:left;
	color:#000;
	padding:8px 40px 7px 20px;
	color:#a6a6a6;
	font-size:13px;
	margin-right:0px;
	position:relative;
}
#process div.inner-boundary div.inner-border ul li img{
	position:absolute;
	right:0px;
	top:0px;
}
#process div.inner-boundary div.inner-border ul li.current{
	color:#303030;
	font-weight:bold;
	font-size:15px;
}
#process div.inner-boundary div.inner-border:after{
	clear:both;
	content:"";
	display:table;
}
.deposit-amounts{
	list-style:none;
	padding:10px 0 0 20px;
	width:450px
}
.deposit-amounts li{
	float:left;
	margin-bottom:15px;
	width:150px
}
.deposit-amounts label{
	color:#000;
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-size:30px
}
.deposit-amounts label span{
	vertical-align:top;
	font-size:20px
}
.deposit-amounts input{
	vertical-align:top
}
.current-balance {
    font: 30px "Helvetica Neue",Arial,sans-serif;
    text-align: center;
}
.pagination{
	float:right;
	padding:0;
	position:relative;
	overflow:hidden
}
.pagination.loading{
	overflow:visible
}
.pagination:before{
	background:url(/static/templates/default/img/pagination_loader.gif);
	content:'';
	height:16px;
	left:-28px;
	position:absolute;
	top:8px;
	width:16px
}
.pagination a,.pagination span,.pagination em{
	background:none;
	border:0;
	display:inline-block;
	font-size:12px;
	font-style:normal;
	line-height:12px;
	color:#8A6741;
	padding:9px 4px
}
.pagination a.current,.pagination span.current,.pagination em.current{
	color:#555;
	font-weight:bold
}
.pagination a.gap,.pagination span.gap,.pagination em.gap{
	color:#9a9a9a
}
.pagination a.disabled,.pagination span.disabled,.pagination em.disabled{
	display:none
}
.pagination .next_page,.pagination .previous_page{
	background:#f0f0f0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	color:#9a9a9a;
	min-width:12px;
	padding:9px;
	text-align:center
}
.pagination .next_page:hover,.pagination .next_page:focus,.pagination .next_page.active,.pagination .previous_page:hover,.pagination .previous_page:focus,.pagination .previous_page.active{
	background:#705536;
	color:#fff;
	text-decoration:none
}
.box-heading{
	background:#434343;
	color:#fff;
	font-size:18px;
	line-height:inherit;
	margin-top:20px;
	padding:11px 15px
}
.box-heading:first-child{
	margin-top:0
}
.trans-box-heading{
	padding:20px 0 10px
}
.sidebar-s .box-heading{
	font-size:15px;
	padding:7px 10px
}
.sidebar-l .box-heading{
	font-size:15px;
	padding:10px 15px
}
.panel{
	margin-bottom:20px;
	background:#f7f6f6;
	position:relative
}
.panel .inner-boundary{
	padding: 0 10px;
	height: 108px;
	overflow: hidden;
}
.panel .choices{
	position:relative;
	text-align:center
}
.panel .choices a{
	margin:0;
	position:absolute;
	top:14px
}
.panel .choices span{
	background:#bbb;
	-webkit-border-radius:45px;
	-moz-border-radius:45px;
	-ms-border-radius:45px;
	-o-border-radius:45px;
	border-radius:45px;
	color:#fff;
	display:inline-block;
	font-size:24px;
	margin-bottom:20px;
	padding:15px;
	text-transform:uppercase
}
.panel.account-required h2{
	text-align:center
}
div.account-required div.inner-boundary{
	position:relative
}
div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid{
	float:right;
	padding:25px 0;
}
div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow h2,div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow p,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid h2,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid p{
	text-align:center
}
div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow h2,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid h2{
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:10px
}
div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow h2 span,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid h2 span{
	font-size:16px
}
div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow h2 a,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid h2 a{
	color:#000;
}
div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow h2 a:hover,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid h2 a:hover{
	color:#8A6741
}
div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow img,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid img{
	padding-top:10px
}
div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow small,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid small{
	padding-top:5px;
	display:block;
	font-size:10px
}
div.fancy-purchase-panel div.inner-boundary div.inner-border div.buynow strong,div.fancy-purchase-panel div.inner-boundary div.inner-border div.prepaid strong{
	font-weight:bold
}
div.fancy-purchase-panel div.inner-boundary div.inner-border .or{
	background:url(/static/templates/default/img/com.png) 0 0;
	height:38px;
	left:50%;
	margin-left:-20px;
	text-indent:-9999px;
	top:46px;
	width:41px
}
.close-panel{
	background:url(/static/templates/default/img/com.png) 0 -1207px;
	height:14px;
	position:absolute;
	right:20px;
	text-indent:-9999px;
	top:20px;
	width:14px
}
.hidden{
	display: none;
}
#pageKfScrollTop{
	position: fixed;
	_position: absolute;
	width: 54px;
	height: 275px;
	right: 0;
	top: 214px;
	z-index: 100;
}
#pageKfScrollTop ul li{
	width: 54px;
	height: 54px;
	float: left;
	position: relative;
	border-bottom: 1px solid #444;
}
#pageKfScrollTop ul li.lastitem{
	border: none;
}
#pageKfScrollTop ul li a{
	cursor: pointer;
}
#pageKfScrollTop ul li .sidebox, #pageKfScrollTop ul li .sidebox2{
	position: absolute;
	width: 54px;
	height: 54px;
	top: 0;
	right: 0;
	transition: all 0.3s;
	background: #000;
	opacity: 0.8;
	filter: Alpha(opacity=80);
	color: #fff;
	font: 14px/54px "微软雅黑";
	overflow: hidden;
	z-index: 100;
}
#pageKfScrollTop ul li .sidetop{
	width: 54px;
	height: 54px;
	position: relative;
	z-index: 50;
	line-height: 54px;
	display: inline-block;
	background: #000;
	opacity: 0.8;
	filter: Alpha(opacity=80);
	transition: all 0.3s;
}
#pageKfScrollTop ul li .sidetop:hover{
	background: #ae1c1c;
	opacity: 1;
	filter: Alpha(opacity=100);
}
#pageKfScrollTop ul li .sidebox2 .icon{
	display: block;
}
#pageKfScrollTop.mobile .sidetop span{
	display: none;
}
#pageKfScrollTop .tdcimg{
	display: none;
	position: absolute;
	left: -258px;
	border: 1px solid #999;
	width: 0;
	height: 258px;
}
#pageKfScrollTop ul li img{
	float:left;
}
@media only screen and (max-width: 640px){
#pageKfScrollTop ul li{
	display: none;
}
#pageKfScrollTop ul li.lastitem{
	display: block;
}
#pageKfScrollTop{
	height: 48px;
	width: 48px;
	top: auto;
	bottom: 10px;
	right: 10px;
	border-radius: 24px;
	cursor: pointer;
	overflow: hidden;
	z-index: 2000;
}
#pageKfScrollTop ul li .sidetop{
	height: 48px;
	width: 48px;
	display: block;
	box-shadow: 0 1px 3px rgba(255, 255, 255, 0.4), 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.4) inset, 0 10px 10px rgba(0, 0, 0, 0.1) inset;
	background: #4d5858;
	background: url(/static/templates/default/img/custom/upbg.png) no-repeat center center;
	_background: url(/static/templates/default/img/custom/upbg.gif) no-repeat center center;
	background: #111 -moz-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, 0) 100%);
	background: #111 -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .2)), color-stop(100%, rgba(0, 0, 0, 0)));
	background: #111 -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, 0) 100%);
	background: #111 -o-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, 0) 100%);
	background: #111 -ms-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, 0) 100%);
	background: #111 linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, 0) 100%);
	_top: expression(offsetParent.clientHeight + offsetParent.scrollTop - 80 + "px");
}
#pageKfScrollTop ul li .sidetop:hover{
	background-color: #000;
	/*background: url(/static/templates/default/img/custom/upbg.png) no-repeat center center;*/
}
#pageKfScrollTop ul li .sidetop span{
	background: url(/static/templates/default/img/custom/up.png) no-repeat center center;
	_background: url(/static/templates/default/img/custom/up.gif) no-repeat center center;
	z-index: 210;
	display: block;
	width: 14px;
	height: 10px;
	position: absolute;
	top: 19px;
	left: 17px;
}
#pageKfScrollTop ul li .sidetop img{
	display: none;
}
}