	<ul class="modals">
	{if is_array($modules)}
		{foreach from=$modules item=conf key=m}
		<li>
			<a href="/{$languageURL}{$smarty.get.module}/?m={$m}&c=list" title="">
				<img src="{$template_data}/admin/images/icons/64x64/{$m}.png" alt="" />
				<span>{$lang.$m}</span>
			</a>
		</li>
		{/foreach}
	{/if}		
		<li>
			<a href="/{$languageURL}{$smarty.get.module}/?m=system&c=list" title="">
				<img src="{$template_data}/admin/images/icons/64x64/system.png" alt="" />
				<span>系统设置</span>
			</a>
		</li>
	</ul>
	
	<div class="clearf"></div>