Options +FollowSymlinks
Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule    ^admin_dashboard/$		/admin [L]
RewriteRule    ^author_dashboard/$		/users/dashboard [L]
RewriteRule    ^author_dashboard$		/users/dashboard [L]
RewriteRule    ^edit/$			        /users/edit [L]
RewriteRule    ^edit$			        /users/edit [L]
RewriteRule    ^earnings/$				/users/earnings [L]
RewriteRule    ^earnings$				/users/earnings [L]
RewriteRule    ^statement/$				/users/statement [L]
RewriteRule    ^statement$				/users/statement [L]
RewriteRule    ^sign_in/$				/users/login [L]
RewriteRule    ^sign_in$				/users/login [L]
RewriteRule    ^sign_up/$				/users/registration [L]
RewriteRule    ^sign_up$				/users/registration [L]
RewriteRule    ^sign_up/verify/$		/users/registration/verify [L]
RewriteRule    ^sign_up/complete/$		/users/registration/complete [L]
RewriteRule    ^download/$			    /users/downloads/ [L]
RewriteRule    ^download$			    /users/downloads/ [L]
RewriteRule    ^download/([^/\.]+)$		/users/downloads/$1 [L]
RewriteRule    ^user/([^/\.]+)/$        /users/$1 [L]
RewriteRule    ^user/([^/\.]+)$         /users/$1 [L]
RewriteRule    ^user/portfolio/([^/\.]+)/$         /users/portfolio/$1 [L]
RewriteRule    ^user/portfolio/([^/\.]+)$         /users/portfolio/$1 [L]
RewriteRule    ^user/bookmarks/$		/users/bookmarks [L]
RewriteRule    ^user/bookmarks$			/users/bookmarks [L]
RewriteRule    ^deposit/$				/users/deposit [L]
RewriteRule    ^deposit$				/users/deposit [L]
RewriteRule    ^invoices/$				/users/history [L]
RewriteRule    ^invoices$				/users/history [L]
RewriteRule    ^withdrawal/$		    /users/withdrawal [L]
RewriteRule    ^withdrawal$				/users/withdrawal [L]
RewriteRule    ^lost_username/$			 /users/lost_username [L]
RewriteRule    ^lost_username$			 /users/lost_username [L]
RewriteRule    ^reset_password/$		 /users/reset_password [L]
RewriteRule    ^reset_password$			 /users/reset_password [L]
RewriteRule    ^top_authors/$	         /users/top [L]
RewriteRule    ^top_authors$	         /users/top [L]
RewriteRule    ^free_file/$	             /users/free_file [L]
RewriteRule    ^free_file$	             /users/free_file [L]
RewriteRule    ^feature/$	             /items/feature [L]
RewriteRule    ^feature$	             /items/feature [L]
RewriteRule    ^top_sellers/$	         /items/top_sellers [L]
RewriteRule    ^top_sellers$	         /items/top_sellers [L]
RewriteRule    ^support/$	             /contacts [L]
RewriteRule    ^verify$	                 /users/verify [L]
RewriteRule    ^verify/$	             /users/verify [L]
RewriteRule    ^support$	             /contacts [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>