<link href="/static/css/custom/ucenter.css" rel="stylesheet" />
{if $smarty.session.user.power_elite_author  == 'true' || $smarty.session.user.elite_author  == 'true'}
<div class="pagetit pagetabs{if $smarty.session.user.power_elite_author  == 'true'} power-elite-author{/if}{if $smarty.session.user.elite_author  == 'true'} elite-author{/if}">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li><a href="/{$languageURL}users/{$smarty.session.user.username}/">我的账号</a></li>
    </ul>
    <h2>充值</h2>
    {include file="$template_path/users/tabsy.html"}
  </div>
</div>
{else}
<div class="pagetit pagetabs">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li><a href="/{$languageURL}users/{$smarty.session.user.username}/">我的账号</a></li>
    </ul>
    <h2>充值</h2>
    {include file="$template_path/users/tabsy.html"}
  </div>
</div>
{/if}

<div class="ucbg">
  <div class="ucblock paddingt clr">
    {$errorMessage}
    <div id="process">
      <div class="inner-boundary">
        <div class="inner-border">
          <ul>
            <li class="{if !isset($depositID) && !isset($complete)}current{/if}">选择充值金额<img src="/static/templates/default/img/arrow.gif" /></li>
            <li class="{if isset($depositID)}current {/if}">{$lang.make_payment}<img src="/static/templates/default/img/arrow.gif" /></li>
            <li class="{$lang.return_to_site}"><img src="/static/templates/default/img/arrow.gif" />{$lang.return_to_site}</li>
          </ul>
          <div class="single">充值</div>
          <img class="context" src="/static/templates/default/img/cash.png" alt="Deposit" height="44" width="52"/>
        </div>
      </div>
    </div>
    <div class="leftdetail">
      <form id="add-deposit" method="post" action="">
        <div class="sideblock">
          <!--<div class="deposit-aside content-box callout">
            <img alt="Deposit Money!" height="95" src="/static/templates/default/img/moneystack.png" width="130" />
            <p>大额充值请<a href="/support/">联系我们</a></p>
          </div>-->
          <h3>请选择充值金额</h3>
          <p>充值不可退款，且有效期自最后一次充值起算1年。大额充值请<a href="/{$languageURL}support/">联系我们</a></p>
          <ul class="deposit-amounts clr">
            <!--{section name=foo start=1 loop=10 step=1}-->
            <!--<li>-->
            <!--<label><input{if $smarty.section.foo.first} checked="checked"{/if} class="checkbox" id="amount_{$smarty.section.foo.index}" name="amount" style="border: none" type="radio" value="{$smarty.section.foo.index}" />-->
            <!--<span>{$currency.symbol}</span>{$smarty.section.foo.index}</label>-->
            <!--</li>-->
            <!--{/section}-->
              <li>
                  <label><input checked="checked" class="checkbox" id="amount_0.01" name="amount" style="border: none" type="radio" value="0.01" />
                      <span>{$currency.symbol}</span>0.01</label>
              </li>



          </ul>
          <div class="form-submit next-to-feature">
            <button type="submit" href="javascript: void(0);" id="purchase-button" name="paymethod" class="btntheme2 btnsize">确定</button>
          </div>
        </div>
      </form>
    </div>
    <div class="rightdetail">
      <h3 class="bordertit">当前余额</h3>
      <div class="borderbg">
        <span class="current-balance">{$currency.symbol}{$smarty.session.user.total|string_format:"%.2f"}</span>
        <!--<p><a href="/{$languageURL}invoices/">查看帐户历史记录</a></p>-->
        <p><strong>如果需要邮寄发票，请确保你已经在<a href="/{$languageURL}edit/">设置</a>中添加了公司名称，然后联系我们的客服人员。</strong></p>
      </div>
    </div>
  </div>
</div>