<link href="{$template_data}css/custom/ucenter.css" rel="stylesheet" />
<!--用户中心主要内容-->
<div class="pagetit">
  <div class="titblock">
    <h2>欢迎回来</h2>
    <p>建议使用谷歌或火狐等高级浏览器获取更好浏览体验</p>
  </div>
</div>
<div class="ucbg">
  <div class="ucblock clr">
  {$errorMessage}

    {if $res_data.show_status == 1}
    <div class="ucreg">
      <div class="checkmail">
        <h3>需要完成邮箱验证</h3>
        <p>系统给您发送了一封验证邮件，马上通过验证享受更多精彩服务。</p>
        <div class="formitem clr">
          <div class="iptbg">
          <input type="text" class="formipt" id="usermail" name="usermail" autocomplete="off" />
          </div>
          <span class="errtxt"></span>
        </div>
        <a href="{$smarty.session.THE_USER_RES_SEND_MAIL_4_M_MAIL}" id="gotomail" class="maillink btntheme1" target="_blank" title="马上登录邮箱">马上登录邮箱</a>
        <a href="javascript:void(0)" class="maillink btntheme1" id="resendbtn" title="重新发送">重新发送</a>
        <a href="javascript:void(0)" id="setmailbtn" class="maillink btntheme1" title="重设邮箱">重设邮箱</a>
      </div>
    </div>
    <script type="text/javascript">
    {literal}
    seajs.use(["jq", "modules/mails"], function($, mails){
      mails.btninit({
        resetbtn: $("#resendbtn"),
        setmailbtn: $("#setmailbtn"),
        mailipt: $("#usermail"),
        maillink: $("#gotomail"),
        purl: "{/literal}/{$languageURL}{literal}apps/users/ajax/api.php",
        uid: "{/literal}{$smarty.session.THE_USER_RES_SEND_MAIL_4_M}{literal}"
      });
    });
    {/literal}
    </script>
    {/if}
    {if $res_data.show_status == 0}
    <div class="ucreg">
      <form action="" method="post" id="signin-form" class="listform" autocomplete="off">
        <div class="formitem clr">
          <span class="ipttxt">用户名</span>
          <div class="iptbg">
            <input type="text" tabindex="1" class="formipt" name="username" id="username" data-type="用户名" autocomplete="off" value="{$smarty.post.username|escape}" />
          </div>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">密码</span>
          <div class="iptbg">
            <input type="password" tabindex="2" class="formipt" name="password" id="password" data-type="密码" autocomplete="off" />
          </div>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">验证码</span>
          <div class="iptbg2">
            <input id="yzm" type="text" tabindex="3" maxlength="4" class="formipt" name="verify" id="verify" data-type="验证码" autocomplete="off" />
          </div>
          <img class="yzmimg" alt="刷新验证码" src="/{$languageURL}verify" id="verify_pic" />
          <a class="yzmfrush" title="刷新验证码" id="verify_btn">刷新验证码</a>
          <span class="errtxt"></span>
          <span class="suctxt"></span>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">&nbsp;</span>
          <a title="登录" class="regsubmit btntheme1 submit" id="loginbtn">登录<input type="hidden" name="login" value="yes" /></a>
        </div>
        <div class="formitem clr">
          <span class="ipttxt">&nbsp;</span>
          <p class="loginlink"><a href="/{$languageURL}reset_password/" title="忘记密码？" target="_blank">忘记密码？</a></p>
          <p class="loginlink sp">没有账号？<a href="/{$languageURL}sign_up/" title="去注册">去注册</a></p>
        </div>
      </form>
    </div>
    {/if}
    <div class="regtxt">
      <h3>只需三步，注册之后你可以</h3>
      <ul class="txtlist">
        <li>出售作品</li>
        <li>使用预存款功能，下载文件</li>
        <li>通过推荐其他人注册赚钱</li>
        <li>有自己的个人主页</li>
        <li>和其他用户交流</li>
        <li>更多精彩</li>
      </ul>
      <!--<h3>合作账号登录</h3>
      <ul class="otherlogin clr">
        <li><a class="t1" href="#" title="新浪微博">新浪微博</a></li>
        <li><a class="t2" href="#" title="腾讯微博">腾讯微博</a></li>
        <li><a class="t3" href="#" title="朋友圈">朋友圈</a></li>
        <li><a class="t4" href="#" title="QQ空间">QQ空间</a></li>
      </ul>-->
    </div>
  </div>
</div>
<script type="text/javascript">
{literal}
seajs.use(["jq", "datavalid"], function($, dvo){
  dvo.loginInit($("#signin-form"));
  dvo.placeholder($("#signin-form"));
  dvo.yzminit($("#verify_pic"), [$("#verify_pic"), $("#verify_btn")]);
});
{/literal}
</script>