<link href="/static/css/custom/ucenter.css" rel="stylesheet" />
{if $smarty.session.user.power_elite_author  == 'true' || $smarty.session.user.elite_author  == 'true'}
<div class="pagetit pagetabs{if $smarty.session.user.power_elite_author  == 'true'} power-elite-author{/if}{if $smarty.session.user.elite_author  == 'true'} elite-author{/if}">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li><a href="/{$languageURL}users/{$smarty.session.user.username}/">我的账号</a></li>
    </ul>
    <h2>统计</h2>
    {include file="$template_path/users/tabsy.html"}
  </div>
</div>
{else}
<div class="pagetit pagetabs">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li><a href="/{$languageURL}users/{$smarty.session.user.username}/">我的账号</a></li>
    </ul>
    <h2>统计</h2>
    {include file="$template_path/users/tabsy.html"}
  </div>
</div>
{/if}

<div class="ucbg">
	<div class="ucblock paddingt clr">
		{$errorMessage} 
    	<div class="leftdetail">
			<!--<h2 class="statement-heading">
			{if $nav.prev.show == 'true'}
			<a href="/{$languageURL}statement/?month={$nav.prev.month}&amp;year={$nav.prev.year}" class="slider-control slider-prev">上一个</a> 
			{else}
			<span class="slider-control slider-prev-disabled">上一个</span>
			{/if}
			{$smarty.get.year}{$lang.monthArr[$smarty.get.month]}
			{if $nav.next.show == 'true'} 
			<a href="/{$languageURL}statement/?month={$nav.next.month}&amp;year={$nav.next.year}" class="slider-control slider-next">下一个</a>
			{else}
			<span class="slider-control slider-next-disabled">下一个</span>
			{/if}
			</h2>-->
			<div class="pagenums clr">
				<div class="pagination">
					<!--{$paging}-->
    				<a class="previous_page" title="前一页" href="#">往前</a>
    				<a href="#" class="current">1</a>
    				<a href="#">2</a>
    				<a href="#" title="后一页" class="next_page">往后</a>
				</div>
			</div>
			<div class="general_table_border">
				<table class="general_table" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th width="80">日期</th>
							<th width="40">类型</th>
							<th width="60">数额</th>
							<th width="370">详情</th>
						</tr>
					</thead>
					<tbody>
						{if $statement}
						{foreach from=$statement item=s}  
						<tr style="text-transform:capitalize">
							<td>{$s.time|date_format:"%Y-%m-%d"}</td>
							<td><strong>{$s.type}</strong></td>
							<td>{$s.value}</td>
							<td>{$s.info}</td>
						</tr>
						{/foreach}
						{else}
						<tr>
							<td colspan="4">暂无记录</td>
						</tr>
						{/if}
					</tbody>
				</table>
			</div>
			<div class="pagenums clr">
				<div class="pagination">
					<!--{$paging}-->
    				<a class="previous_page" title="前一页" href="#">往前</a>
    				<a href="#" class="current">1</a>
    				<a href="#">2</a>
    				<a href="#" title="后一页" class="next_page">往后</a>
				</div>
			</div>
		</div>
    	<div class="rightdetail">
			<h3 class="bordertit">开始在网站上销售你的作品！</h3>
			<div class="borderbg">
				<p>如何开始销售？</p>
				<p>在本站销售作品，将会获得高额的分成。查看<a href="/{$languageURL}make_money/become_an_author">成为作者</a>！</p>
			</div>
		</div> 
	</div>
</div>