<link href="/static/css/custom/ucenter.css" rel="stylesheet" />
<div class="pagetit">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li><a href="/make_money/become_an_author" title="入门指南">入门指南</a></li>
      <li class="pipe">&gt;</li>
      <li>成为作者</li>
    </ul>
    <h2>成为作者</h2>
  </div>
</div>
<div class="ucbg">
  <div class="ucblock clr">
    <div class="txtlistnav">
      <ul>
        <li><a class="active" href="/make_money/become_an_author" title="成为作者">成为作者</a></li>
        <li><a href="/make_money/payment_rates" title="分成比例">分成比例</a></li>
        <li><a href="/make_money/affiliate_program/" title="分成比例">推广赚钱</a></li>
        <li><a href="/make_money/banners_and_logos/" title="分成比例">广告和LOGO</a></li>
      </ul>
    </div>
    <div class="detailtxt">
      <h3>如何申请成为作者</h3>
      <p>成为作者的流程很简单，你只需要完成一下几步：</p>
      <ul class="author">
        <li>阅读<a href="#faqs" title="常见问题" >常见问题</a></li>
        <li>阅读<a href="/help/upload" title="上传指南" target="_blank">上传指南</a></li>
        <li>进行<a href="/quiz" title="小测验" target="_blank">小测验</a></li>
      </ul>
      <p>通过测验后你立即就能上传你的作品了！</p>
      <h3 class="underlined" id="faqs">常见问题</h3>
      <p>Q:我出售作品的分成收入如何提现？<br>
      A:你提交提现申请后的15天之内，我们的工作人员会将提现金额转入你提交提现申请时填写的支付方式所对应的账号里。</p>
      <p>Q:你们有推广机制吗？<br>
      A:有，你可以获得你推广来的用户第一次充值金额的30%，不管他是否在本站购买过作品，你可以点击<a href="/make_money/affiliate_program">推广机制</a>查看更多详情。</p>
      <p>Q:我上传出售的文件还属于我吗？<br>
      A:当然属于你，我们只是为你提供了一个交易平台而已。</p>
      <p>Q:我的销售分成比例会不会因为销量不好而降低？<br>
      A:不会，我们不会要求作者必须达到某个销量范围，我们认为每一件作品都是独一无二的，销量高低并不能直接说明作品的好坏，特别是那些具有超前意识的作品。</p>
      <p>Q:任何作品都可以上传出售吗？<br>
      A:我们会对上传作品的质量进行评判，以保证提供给用户高质量的作品，这也是保证你获得收入的一个必要措施。</p>
      <p>Q:我可以在本站独家出售作品从而获得更多收入吗？<br>
      A:当然，这是独家出售作品的<a href="/make_money/payment_rates">销售分成比例结构</a>，请点击查看。</p>
      <p>Q:我可以同时在本站和我自己的网站出售作品吗？<br>
      A:如果你选择了在本站独家出售作品，我们建议你保证在本站出售的作品不在其他网站出售，这样可以为你省去很多精力。</p>
      <p>Q:如果我的作品使用了一些别人的素材，这算侵权吗？<br>
      A:你应当保证你的作品所使用的素材都是你自己的或者获得了素材所有者的许可。</p>
      <p>Q:我上传的作品如何确定出售价格？<br>
      A:你可以在上传作品时提出你的价格建议，我们的工作人员会综合作品的质量和价值确定最终出售价格。</p>
      <p>Q:我需要对我上传的作品提供使用方面的售后支持吗？<br>
      A:提供良好的售后支持可以增加你作品的销量，因此我们建议你这么做。</p>
      <p>Q:如果已经有作者上传过与我的作品相似的作品，我还能上传吗？<br>
      A:如果你的作品质量或者功能更优秀的话，我们非常欢迎你这样做。</p>
    </div>
  </div>
</div>