<link href="/static/css/custom/ucenter.css" rel="stylesheet" />
<div class="pagetit">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li><a href="/make_money/become_an_author" title="入门指南">入门指南</a></li>
      <li class="pipe">&gt;</li>
      <li>推广赚钱</li>
    </ul>
    <h2>推广赚钱</h2>
  </div>
</div>
<div class="ucbg">
  <div class="ucblock clr">
    <div class="txtlistnav">
      <ul>
        <li><a href="/make_money/become_an_author" title="成为作者">成为作者</a></li>
        <li><a href="/make_money/payment_rates" title="分成比例">分成比例</a></li>
        <li><a class="active" href="/make_money/affiliate_program/" title="分成比例">推广赚钱</a></li>
        <li><a href="/make_money/banners_and_logos/" title="分成比例">广告和LOGO</a></li>
      </ul>
    </div>
    <div class="detailtxt">
    <h3>你的推广链接</h2>
    <p>
      <strong>只要把你的用户名加到推广链接里就可以了，这已经不能再简单了。</strong> 
    </p>
    <p>
      格式是这样：<code>{$domain}/?ref=username</code>，记得把<code>username</code>换成你的用户名。
    </p>
    <p>
      <strong>注意：</strong>
      把作品的地址直接粘贴上去是不起作用的，所以不要那么做。
    </p>
    <p>推广作者到<a href="#">{$domain}</a>，你可以获得你推广来的用户第一次充值金额的30%，不管他是否在本站购买过作品。</p>
    <h3>广告和LOGO</h2>
    <p>你可以点击下载<a href="/make_money/banners_and_logos">广告和LOGO</a>方便推广时使用。</p>
      <!--<h3>如何申请成为作者</h3>
      <p>成为作者的流程很简单，你只需要完成一下几步：</p>
      <ul class="author">
        <li>阅读<a href="#" title="常见问题" target="_blank">常见问题</a></li>
        <li>阅读<a href="#" title="上传指南" target="_blank">上传指南</a></li>
        <li>进行<a href="#" title="小测验" target="_blank">小测验</a></li>
      </ul>
      <p>通过测验后你立即就能上传你的作品了！</p>-->
    </div>
  </div>
</div>