<link href="/static/css/custom/ucenter.css" rel="stylesheet" />
<div class="pagetit">
  <div class="navblock">
    <ul class="titnav clr">
      <li><a href="/" title="主页">主页</a></li>
      <li class="pipe">&gt;</li>
      <li><a href="/make_money/become_an_author" title="入门指南">入门指南</a></li>
      <li class="pipe">&gt;</li>
      <li>广告和LOGO</li>
    </ul>
    <h2>广告和LOGO</h2>
  </div>
</div>
<div class="ucbg">
  <div class="ucblock clr">
    <div class="txtlistnav">
      <ul>
        <li><a href="/make_money/become_an_author" title="成为作者">成为作者</a></li>
        <li><a href="/make_money/payment_rates" title="分成比例">分成比例</a></li>
        <li><a href="/make_money/affiliate_program/" title="分成比例">推广赚钱</a></li>
        <li><a class="active" href="/make_money/banners_and_logos/" title="分成比例">广告和LOGO</a></li>
      </ul>
    </div>
    <div class="detailtxt">
      <h3>我们网站的LOGO等图片</h3>
      <p>这里有一些我们网站的LOGO等图片可供推广使用</p>
      <p></p>
      <p><a href="/static/logos.zip">下载LOGO</a></p>
    </div>
  </div>
</div>